.admin-donatephone {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;

    .form-admin-search {
        width: 90%;
        max-width: 600px;
        margin: 0 auto 2rem;
        text-align: center;
        .form__label {
            margin-bottom: 20px;
        }
        .input-append {
            display: block;
            margin: 0 auto;
        }
        .parsley-errors-list {
            left: 50%;
            .translate(-50%, 0);
        }
        .search-query {
            padding: 11px 19px;
            font-size: 17.5px;
        }
    }

    .admin-donatephone-results {
        display: none;
        text-align: center;
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        &.visible {
            display: block;
        }
        &__title {
            .helvetica(20);
            color: #000;
            margin: 0 auto 0.5rem;
        }
        &__clear-btn {
            display: none;
            &.visible {
                display: inline-block;
            }
        }
        &__value,
        &__text {
            display: inline-block;
            vertical-align: bottom;
        }
        &__list {
            padding: 0;
            margin: 1.5rem auto 0;
            list-style: none;
            display: none;
            &.visible {
                display: block;
            }
        }
        &__item {
            display: block;
            &:extend(.clearfix all);
            padding: 1rem 0;
            margin: 0 auto;
            position: relative;
            &:after {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                background: -moz-linear-gradient(left,  rgba(204,204,204,0) 0%, rgba(204,204,204,1) 50%, rgba(204,204,204,0) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,204,204,0)), color-stop(50%,rgba(204,204,204,1)), color-stop(100%,rgba(204,204,204,0))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* IE10+ */
                background: linear-gradient(to right,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#00cccccc',GradientType=1 ); /* IE6-8 */
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
        &__item-id,
        &__item-name,
        &__item-count,
        &__item-controls {
            display: inline-block;
            vertical-align: middle;
            word-break: break-all;
            padding: 0 2%;
            .box-sizing(border-box);
        }
        &__item-id,
        &__item-name,
        &__item-count {
            .helvetica(14);
        }
        &__item-head {
            font-weight: bold;
        }
        &__item-id {
            width: 30%;
        }
        &__item-name {
            width: 30%;
        }
        &__item-count {
            width: 20%;
        }
        &__item-controls {
            width: 20%;
            .fa-edit {
                color: #119911;
                text-decoration: none;
            }
        }
    }

//    .dataTables_wrapper {
//        margin: 0 auto 5rem;
//    }
//    .dataTable {
//        width: 100%;
//        th, td {
//            text-align: left;
//            min-width: 150px;
//            padding-left: 18px;
//            padding-right: 18px;
//            &:first-child {
//                min-width: 0;
//            }
//        }
//        .fa-edit {
//            color: #119911;
//            text-decoration: none;
//        }
//    }

//    .form-donations-admin {
//        max-width: 900px;
//        margin: 0 auto;
//    }
}