.form {
    &__row {
        position: relative;
        &:extend(.clearfix all);
        margin-bottom: 15px;
    }
    &__cell {
        float: left;
        width: 48%;
        margin-right: 2%;
        & + .form__cell {
            margin-right: 0;
            margin-left: 2%;
        }
    }
    &__title {
        .helvetica(18);
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    &__label {
        .helvetica(16);
        display: block;
        margin-bottom: 0.5rem;
    }
    &__input {
        .helvetica(14);
        font-size: 14px !important;
        height: auto !important;
        padding: 6px !important;
        line-height: normal !important;
        width: 100%;
        border-color: #000 !important;
        .box-sizing(border-box);
        margin-bottom: 0 !important;
    }
    &__textarea {
        .helvetica(14);
        font-size: 14px !important;
        width: 100%;
        height: auto !important;
        min-height: 40px;
        padding: 6px !important;
        line-height: normal !important;
        border-color: #000 !important;
        .box-sizing(border-box);
        margin-bottom: 0 !important;
        resize: none;
    }
}

.parsley-errors-list {
    position: absolute;
    .helvetica(12);
    line-height: 1;
}