.clearfix,
.admin-donatephone .admin-donatephone-results__item,
.form__row,
.form__cell {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.admin-donatephone .admin-donatephone-results__item:before,
.admin-donatephone .admin-donatephone-results__item:after,
.form__row:before,
.form__row:after,
.form__cell:before,
.form__cell:after {
  content: "";
  display: table;
}
.clearfix:after,
.admin-donatephone .admin-donatephone-results__item:after,
.form__row:after,
.form__cell:after {
  clear: both;
}
.roadgeek {
  font-family: 'roadgeek', sans-serif;
  font-size: 42px;
  line-height: 40px;
  margin-bottom: 15px;
}
.lucida {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.helvetica {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #b94a48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}
input.parsley-error::-webkit-input-placeholder,
select.parsley-error::-webkit-input-placeholder,
textarea.parsley-error::-webkit-input-placeholder {
  color: #d59392;
}
input.parsley-error:-moz-placeholder,
select.parsley-error:-moz-placeholder,
textarea.parsley-error:-moz-placeholder {
  color: #d59392;
}
input.parsley-error::-moz-placeholder,
select.parsley-error::-moz-placeholder,
textarea.parsley-error::-moz-placeholder {
  color: #d59392;
}
input.parsley-error:-ms-input-placeholder,
select.parsley-error:-ms-input-placeholder,
textarea.parsley-error:-ms-input-placeholder {
  color: #d59392;
}
.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #b94a48;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.parsley-errors-list.filled {
  opacity: 1;
}
.select-custom {
  width: 100%;
  max-height: 32px;
  background: transparent url(/cdn/img/common/icon-arrow-down_black.png) no-repeat;
  background-position: calc(100% - 5px) 50%;
  background-size: 11px 6px;
  position: relative;
  overflow: hidden;
  border: 1px solid #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.select-custom select {
  font: 16px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000000;
  width: 150%;
  border: none;
  border-radius: 0;
  background: transparent;
  padding: 2px 10px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.select-custom select:focus {
  outline: none;
  background: transparent;
}
.select-custom select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
@media only screen and (max-width: 767px) {
  .select-custom {
    background-size: 9px 5px;
    background-position: calc(100% - 4px) 50%;
    position: relative;
    max-height: 40px;
  }
  .select-custom:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% - 29px);
    z-index: 1;
  }
  .select-custom select {
    font-size: 14px;
  }
}
body {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding: 0 0 40px;
}
.ul {
  text-decoration: underline;
}
._hidden {
  display: none;
}
.mobile-only {
  display: none;
}
.only-desktop {
  display: block;
}
.mobile-exclude {
  display: block;
}
#phoneDeviceContainer,
#tabletDeviceContainer {
  display: block;
}
.content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.content__i {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.rfcx-container {
  position: relative;
  z-index: 1;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
.rfcx-container.opened {
  -webkit-transform: translate3d(-84.9%, 0, 0);
  -moz-transform: translate3d(-84.9%, 0, 0);
  -ms-transform: translate3d(-84.9%, 0, 0);
  -o-transform: translate3d(-84.9%, 0, 0);
}
.rfcx-row-gradient {
  border-top: solid 1px #ebeced;
  background: -moz-radial-gradient(center top, ellipse cover, #ebeced 0%, #ebeced 25%, #ffffff 72%, #ffffff 100%);
  background: -webkit-gradient(radial, center top, 0px, center center, 100%, color-stop(0%, #ebeced), color-stop(25%, #ebeced), color-stop(72%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-radial-gradient(center top, ellipse cover, #ebeced 0%, #ebeced 25%, #ffffff 72%, #ffffff 100%);
  background: -o-radial-gradient(center top, ellipse cover, #ebeced 0%, #ebeced 25%, #ffffff 72%, #ffffff 100%);
  background: -ms-radial-gradient(center top, ellipse cover, #ebeced 0%, #ebeced 25%, #ffffff 72%, #ffffff 100%);
  background: radial-gradient(ellipse at center top, #ebeced 0%, #ebeced 25%, #ffffff 72%, #ffffff 100%);
}
.rfcx-unselectable {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.rfcx-selectable {
  user-select: text;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
}
.rfcx-trans-linear {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
.rfcx-trans-100 {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.rfcx-trans-90 {
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -moz-opacity: 0.90;
  -khtml-opacity: 0.90;
  opacity: 0.90;
}
.rfcx-trans-85 {
  filter: alpha(opacity=85);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.rfcx-trans-75 {
  filter: alpha(opacity=75);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
.rfcx-trans-67 {
  filter: alpha(opacity=67);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
  -moz-opacity: 0.67;
  -khtml-opacity: 0.67;
  opacity: 0.67;
}
.rfcx-trans-50 {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.rfcx-trans-33 {
  filter: alpha(opacity=33);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
  -moz-opacity: 0.33;
  -khtml-opacity: 0.33;
  opacity: 0.33;
}
.rfcx-trans-25 {
  filter: alpha(opacity=25);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
}
.rfcx-trans-0 {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0.0;
  -khtml-opacity: 0.0;
  opacity: 0.0;
}
.hover-trans-67:hover {
  filter: alpha(opacity=67);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
  -moz-opacity: 0.67;
  -khtml-opacity: 0.67;
  opacity: 0.67;
}
.rfcx-crnr-5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.rfcx-crnr-10 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.rfcx-crnr-20 {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.rfcx-crnr-all-off {
  -moz-border-radius-topleft: 0px !important;
  -webkit-border-top-left-radius: 0px !important;
  -khtml-border-top-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  -webkit-border-top-right-radius: 0px !important;
  -khtml-border-top-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  -khtml-border-bottom-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  -moz-border-radius-bottomright: 0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -khtml-border-bottom-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.rfcx-crnr-tl-off {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.rfcx-crnr-tr-off {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.rfcx-crnr-bl-off {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.rfcx-crnr-br-off {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.rfcx-crnr-t-off {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.rfcx-crnr-b-off {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.rfcx-crnr-r-off {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.rfcx-crnr-l-off {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.rfcx-crnr-tl-only {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.rfcx-crnr-tr-only {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.rfcx-crnr-bl-only {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.rfcx-crnr-br-only {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter-square {
  color: #4099ff;
}
.input-append .btn {
  border-width: 1px;
  font-size: 18px;
  font-weight: bold;
}
.rfcx-row {
  padding-top: 20px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
.rfcx-row .rfcx-header {
  color: #494848;
  margin-bottom: 15px;
}
.rfcx-row .rfcx-body {
  color: #636363;
  padding-top: 12px;
  padding-bottom: 8px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.btn-rfcx-mini {
  padding: 3px 6px;
  font-size: 11px;
  line-height: 11px;
  position: relative;
}
.control-group .input-append input {
  padding: 12px 19px 12px 19px;
  font-size: 18px;
}
.control-group .input-append span {
  padding: 10px 19px 14px 19px;
  font-size: 18px;
  width: 70px;
}
.btn-gray {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7e7e7e;
  background-image: -moz-linear-gradient(top, #888888, #6f6f6f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#6f6f6f));
  background-image: -webkit-linear-gradient(top, #888888, #6f6f6f);
  background-image: -o-linear-gradient(top, #888888, #6f6f6f);
  background-image: linear-gradient(to bottom, #888888, #6f6f6f);
  background-repeat: repeat-x;
  border-color: #6f6f6f #6f6f6f #484848;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #6f6f6f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-gray:active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.btn-gray.disabled,
.btn-gray[disabled] {
  color: #ffffff;
  background-color: #6f6f6f;
  *background-color: #626262;
}
.btn-gray:active,
.btn-gray.active {
  background-color: #555555;
}
.btn-primary {
  font-weight: bold;
}
.read-more {
  padding: 0 4px 0 10px;
  position: relative;
  top: 1px;
}
.form-donate {
  text-align: center;
}
.form-donate > * {
  margin: auto;
}
.loading-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
}
.rfcx-form .input-append {
  position: relative;
}
input::-webkit-input-placeholder {
  color: #cccccc;
}
.vjs-default-skin .vjs-volume-level,
.vjs-default-skin .vjs-play-progress {
  background: #338833 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat !important;
}
.video-js .vjs-text-track {
  font-size: 1.8em !important;
}
.spinner-container {
  display: none;
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
.spinner-container:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: url(/cdn/img/common/ajax-loader.gif) no-repeat center center;
  background-size: contain;
}
.notifications-container {
  opacity: 0;
  position: fixed;
  z-index: 9999999;
  top: 20%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.notifications-container.visible {
  opacity: 1;
}
.notifications-container .alert {
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.5);
}
.notifications-container .alert .close {
  position: absolute;
  right: 10px;
  top: 5px;
}
@media only screen and (min-width: 768px) {
  .rfcx-container {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    -o-transform: translate3d(0, 0, 0) !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  body {
    padding-bottom: 45px;
  }
  #tabletDeviceContainer {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .only-desktop {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  body {
    padding-bottom: 45px;
  }
  #phoneDeviceContainer {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .mobile-exclude {
    display: none;
  }
  .rfcx-row {
    overflow-x: hidden !important;
  }
  .rfcx-row .rfcx-header,
  .rfcx-row .rfcx-body {
    text-align: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .rfcx-row .rfcx-body {
    margin: 0;
  }
  .input-append .input-large {
    padding: 23px 7px 21px 10px;
    font-size: 18px;
  }
  .btn-primary,
  .btn-gray,
  .input-append .btn {
    font-weight: 300;
  }
  .notifications-container {
    width: 80%;
  }
}
.modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  margin-top: 0;
  margin-left: 0;
  margin-right: -50%;
  z-index: 1000003;
}
.modal a {
  color: #494848;
}
.modal a:hover {
  color: #49cc48;
  text-decoration: none;
}
.modal .close {
  font-size: 32px;
  line-height: 32px;
  position: relative;
  top: -4px;
  left: 2px;
}
.modal.fade.in {
  top: 50%;
  max-height: 70vh;
  overflow: auto;
}
.modal-backdrop {
  z-index: 1000002;
}
.modal-body {
  max-height: none;
}
.modal-body p:last-child {
  margin-bottom: 0;
}
.read-more {
  padding: 0 4px 0 10px;
  position: relative;
  top: 1px;
}
@media only screen and (max-width: 767px) {
  .modal {
    z-index: 1000010;
    top: 45%;
  }
  .modal.fade.in {
    top: 45%;
  }
}
.masthead {
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  height: 76px;
}
.masthead .logo {
  position: absolute;
  width: 31.1%;
  top: 21.1%;
  margin-top: 2px;
  left: 4px;
  z-index: 1;
}
.masthead .menu-toggle {
  display: none;
}
.masthead__list {
  position: relative;
  margin-top: 20px;
  z-index: 1;
}
.masthead__list-item {
  position: relative;
  font-size: 16px;
}
.masthead__list-item.active .masthead__link {
  color: #ffffff;
  background-color: transparent;
  cursor: default;
}
.masthead__list-item.active .masthead__link:hover {
  color: #ffffff;
  background-color: transparent;
  cursor: default;
  top: 0;
}
.masthead__list-item.active i {
  position: absolute;
  font-size: 42px;
  width: 100%;
  text-align: center;
  top: 43px;
}
.masthead__list-item.active i.fa-sort-up {
  height: 15px;
  overflow: hidden;
}
.masthead__link {
  position: relative;
  color: #ffffff;
  font-weight: 600;
}
.masthead__link:hover {
  color: #ffffff;
  background: transparent !important;
}
.masthead #masthead-notch-intro {
  display: none;
  color: #5e7e5e;
  height: 13px;
}
.masthead #masthead-notch-about {
  color: #eff0f1;
}
.masthead #masthead-notch-get_involved {
  color: #f4f5f6;
}
.masthead #masthead-notch-media {
  color: #fbfcfd;
}
.masthead .is-on {
  position: absolute;
  width: 4%;
  top: 31%;
  margin-top: 2px;
  left: 44%;
  z-index: 1;
}
.header {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header__i {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.header__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.header__logo-link {
  display: block;
  position: absolute;
  height: 50px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.header__logo-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 1400px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .header {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media only screen and (max-width: 767px) {
  .masthead {
    top: 0;
    height: 50px;
  }
  .masthead .logo {
    display: block;
    position: absolute;
    left: 5%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    width: 100%;
    height: auto;
    max-width: 70%;
    max-height: 95%;
  }
  .masthead .menu-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    font-size: 28px;
    color: white;
    text-decoration: none;
  }
  .masthead .fa-bars {
    display: block;
  }
  .masthead ul {
    display: none;
  }
  .masthead ul li {
    width: 50%;
    border-width: 0;
    float: left;
    padding: 12px 0;
    text-align: center;
    -webkit-box-shadow: inset 0 0 10px #aaaaaa;
    -moz-box-shadow: inset 0 0 10px #aaaaaa;
    box-shadow: inset 0 0 10px #aaaaaa;
  }
  .masthead ul li.active {
    background-color: #444;
  }
  .masthead ul li.active i {
    display: none;
  }
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  .header__logo-link {
    left: 5%;
    height: 38px;
  }
}
.rfcx-menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  background: #ccc;
  width: 85%;
  height: 100%;
  border: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.rfcx-menu-mobile.visible {
  opacity: 1;
}
.rfcx-menu-mobile__bg {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 8px #222222;
  -moz-box-shadow: inset 0 0 8px #222222;
  box-shadow: inset 0 0 8px #222222;
}
.rfcx-menu-mobile__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  z-index: 1;
}
.rfcx-menu-mobile__list-item {
  display: block;
  margin: 0;
  border-bottom: solid 1px #bbb;
}
.rfcx-menu-mobile__list-item.header {
  padding-left: 20px;
  background-color: transparent;
  position: relative;
  border-bottom: none;
}
.rfcx-menu-mobile__list-item.active {
  background-color: #aaa;
  -webkit-box-shadow: inset 0 0 4px #222222;
  -moz-box-shadow: inset 0 0 4px #222222;
  box-shadow: inset 0 0 4px #222222;
  border-bottom: solid 1px #666;
  text-shadow: 0 1px 0 #ccc;
}
.rfcx-menu-mobile__ghost-text {
  display: block;
  padding: 15px 20px;
  visibility: hidden;
}
.rfcx-menu-mobile__logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  height: 38px;
  width: auto;
}
.rfcx-menu-mobile__link {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #444;
  font-weight: bold;
  text-shadow: 0 1px 0 #eee;
}
.rfcx-menu-mobile__link:hover {
  color: #444;
  text-decoration: none;
}
.rfcx-menu-mobile__nolink {
  display: block;
  padding: 15px 20px;
  color: #444;
  font-weight: bold;
  text-shadow: 0 1px 0 #eee;
}
.rfcx-menu-mobile .roadgeek {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .rfcx-menu-mobile {
    display: block;
  }
}
* {
  outline: none !important;
}
.modal-donor-info {
  max-height: 90%;
  overflow: auto;
}
.fp__overlay {
  z-index: 10000000 !important;
}
.html-admin .ui-datepicker {
  -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.75);
}
.html-admin .ui-state-active,
.html-admin .ui-widget-content .ui-state-active,
.html-admin .ui-widget-header .ui-state-active {
  border-color: #119911;
  background: #119911;
  color: #fff;
}
.html-admin,
.body-admin {
  height: 100%;
}
.body-admin .rfcx-container {
  height: 100%;
}
.admin-password {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}
.admin-password.hidden {
  display: none;
}
.admin-password .form-admin-password {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.admin-donatephone {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  position: relative;
  z-index: 1;
}
.admin-donatephone__create {
  margin-top: 3rem;
}
.admin-donatephone .form-admin-search {
  width: 90%;
  max-width: 600px;
  margin: 0 auto 2rem;
  text-align: center;
}
.admin-donatephone .form-admin-search .form__label {
  margin-bottom: 20px;
}
.admin-donatephone .form-admin-search .input-append {
  display: block;
  margin: 0 auto;
}
.admin-donatephone .form-admin-search .parsley-errors-list {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.admin-donatephone .form-admin-search .search-query {
  padding: 11px 19px;
  font-size: 17.5px;
}
.admin-donatephone .admin-donatephone-results {
  display: none;
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.admin-donatephone .admin-donatephone-results.visible {
  display: block;
}
.admin-donatephone .admin-donatephone-results__title {
  font: 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  margin: 0 auto 0.5rem;
}
.admin-donatephone .admin-donatephone-results__clear-btn {
  display: none;
}
.admin-donatephone .admin-donatephone-results__clear-btn.visible {
  display: inline-block;
}
.admin-donatephone .admin-donatephone-results__value,
.admin-donatephone .admin-donatephone-results__text {
  display: inline-block;
  vertical-align: bottom;
}
.admin-donatephone .admin-donatephone-results__list {
  padding: 0;
  margin: 1.5rem auto 0;
  list-style: none;
  display: none;
}
.admin-donatephone .admin-donatephone-results__list.visible {
  display: block;
}
.admin-donatephone .admin-donatephone-results__item {
  display: block;
  padding: 1rem 0;
  margin: 0 auto;
  position: relative;
}
.admin-donatephone .admin-donatephone-results__item:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba(204, 204, 204, 0) 0%, #cccccc 50%, rgba(204, 204, 204, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(204, 204, 204, 0)), color-stop(50%, #cccccc), color-stop(100%, rgba(204, 204, 204, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(204, 204, 204, 0) 0%, #cccccc 50%, rgba(204, 204, 204, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(204, 204, 204, 0) 0%, #cccccc 50%, rgba(204, 204, 204, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(204, 204, 204, 0) 0%, #cccccc 50%, rgba(204, 204, 204, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(204, 204, 204, 0) 0%, #cccccc 50%, rgba(204, 204, 204, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00cccccc', endColorstr='#00cccccc', GradientType=1);
  /* IE6-8 */
}
.admin-donatephone .admin-donatephone-results__item:last-child:after {
  display: none;
}
.admin-donatephone .admin-donatephone-results__item-id,
.admin-donatephone .admin-donatephone-results__item-name,
.admin-donatephone .admin-donatephone-results__item-count,
.admin-donatephone .admin-donatephone-results__item-controls {
  display: inline-block;
  vertical-align: middle;
  word-break: break-all;
  padding: 0 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.admin-donatephone .admin-donatephone-results__item-id,
.admin-donatephone .admin-donatephone-results__item-name,
.admin-donatephone .admin-donatephone-results__item-count {
  font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.admin-donatephone .admin-donatephone-results__item-head {
  font-weight: bold;
}
.admin-donatephone .admin-donatephone-results__item-id {
  width: 30%;
}
.admin-donatephone .admin-donatephone-results__item-name {
  width: 30%;
}
.admin-donatephone .admin-donatephone-results__item-count {
  width: 20%;
}
.admin-donatephone .admin-donatephone-results__item-controls {
  width: 20%;
}
.admin-donatephone .admin-donatephone-results__item-controls .fa-edit {
  color: #119911;
  text-decoration: none;
}
.form {
  margin-bottom: 0;
}
.form__row {
  position: relative;
  margin-bottom: 15px;
}
.form__row_controls {
  padding-top: 15px;
  border-top: 1px solid #eee;
  margin-bottom: 0;
}
.form__cell {
  float: left;
  width: 48%;
  margin-right: 2%;
}
.form__cell + .form__cell {
  margin-right: 0;
  margin-left: 2%;
}
.form__cell_3 {
  float: left;
  width: 32%;
  margin-left: 0;
  margin-right: 2%;
}
.form__cell_3:last-child {
  margin-right: 0;
}
.form__cell_6 {
  float: left;
  width: 66%;
  margin-left: 0;
  margin-right: 2%;
}
.form__cell_6:last-child {
  margin-right: 0;
}
.form__cell_12 {
  float: left;
  width: 100%;
}
.form__title {
  font: 18px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.form__title .small {
  margin-left: 5px;
  font-size: 0.8em;
}
.form__label {
  font: 16px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: block;
  margin-bottom: 0.5rem;
}
.form__input {
  font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px !important;
  height: auto !important;
  padding: 6px !important;
  line-height: normal !important;
  width: 100%;
  border-color: #000 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0 !important;
}
.form__input_photo {
  display: inline-block !important;
  vertical-align: middle;
  width: 67%;
  margin-right: 3%;
}
.form__filepicker-btn {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}
.form__textarea {
  font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px !important;
  width: 100%;
  height: auto !important;
  min-height: 62px;
  padding: 6px !important;
  line-height: normal !important;
  border-color: #000 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0 !important;
  resize: none;
}
.form__img-preview-cell {
  display: none;
}
.form__img-preview-link {
  display: block;
}
.form__img-preview {
  display: block;
  max-height: 62px;
  max-width: 100%;
}
.parsley-errors-list {
  position: absolute;
  font: 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .form__cell_3,
  .form__cell_6,
  .form__cell_12 {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .form__cell_3:last-child,
  .form__cell_6:last-child,
  .form__cell_12:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .form__cell_3,
  .form__cell_6,
  .form__cell_12 {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .form__cell_3:last-child,
  .form__cell_6:last-child,
  .form__cell_12:last-child {
    margin-bottom: 0;
  }
}
