extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-1
    div.span6
    div.span6

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-2
    div.span6
    div.span6

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-3
    div.span6
    div.span6