extends layout
block content
  section.content.content_about
    .content__i
      div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-1.rfcx-row-about-1-1
        div.span12
          p.rfcx-row-about-1-1__title.roadgeek.rfcx-header= "Donate A Phone"