extends layout_admin
block additionalfiles
  //link(rel='stylesheet', type='text/css', href='#{cdn_datatables}/1.10.9/css/jquery.dataTables.min.css')
  //link(rel='stylesheet', type='text/css', href='/vendor/datatables/FixedColumns/css/fixedColumns.dataTables.min.css')
  //script(type='text/javascript', src='#{cdn_datatables}/1.10.9/js/jquery.dataTables.min.js')
  //script(type='text/javascript', src='/vendor/datatables/FixedColumns/js/dataTables.fixedColumns.min.js')
  script(type='text/javascript', src='#{rfcx_cdn}/js/donations-admin.js?v=#{app_version}')
block content
  section.admin-donatephone
    form.form.form-admin-search.form-search#formSearchMailchimpId(method="GET", action="/mailchimp/search", data-parsley-validate)
      .form__row
        label.form__label(for="searchIdInput") Type the data you want to find:
        .input-append
          input.search-query#searchIdInput(type="text", name="id", placeholder="xxxxxx", data-parsley-trigger="change", required)
          button.btn.btn-large.btn-success(type="submit") Search
    .admin-donatephone-results#searchResults
      p.admin-donatephone-results__title
        span.admin-donatephone-results__count#searchResultsCount 0
        span.admin-donatephone-results__text.
          &nbsp;results found

      button.btn.btn-small.admin-donatephone-results__clear-btn#searchClearBtn(type="button") Clear

      ul.admin-donatephone-results__list#searchResultsList
        li.admin-donatephone-results__item
          span.admin-donatephone-results__item-head.admin-donatephone-results__item-id ID Email
          span.admin-donatephone-results__item-head.admin-donatephone-results__item-name Name
          span.admin-donatephone-results__item-head.admin-donatephone-results__item-count Count
          span.admin-donatephone-results__item-head.admin-donatephone-results__item-controls

  script#donateSearchResultItemTmpl(type="text/x-jsrender")
    li.admin-donatephone-results__item.js-search-results-item
      span.admin-donatephone-results__item-id {{:idEmail}}
      span.admin-donatephone-results__item-name {{:name}}
      span.admin-donatephone-results__item-count {{:count}}
      span.admin-donatephone-results__item-controls
        a.fa.fa-edit.js-edit-row(data-id="{{:id}}", href="#myModal", role="button", data-toggle="modal")

block modals
  .modal.hide.modal-donor-info#myModal
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
      h3 Update Donor Info
    .modal-body
      form.form.form-donations-admin#formUpdate(method="POST", action="/donate_phone/donor/update")
        p.form__title Customer part
        .form__row
          .form__cell_3
            label.form__label(for="inputEmail") Email ID
            input.form__input.js-form-input#inputEmail(name="email", type="email", readonly)
          .form__cell_3
            label.form__label(for="inputEmail") Email Real
            input.form__input.js-form-input#inputEmail(name="EMAIL_REAL", type="email", readonly)
          .form__cell_3
            label.form__label(for="inputDonorName") Donor Name
            input.form__input.js-form-input#inputDonorName(name="NAME_DONOR", type="text")
        .form__row
          .form__cell_3
            label.form__label(for="selectDonationCount") Donation Count
            .select-custom
              select.js-form-input#selectDonationCount(name="COUNT")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9
                option(value="10") 10
          .form__cell_6
            label.form__label(for="textareaDonorNotes") Donor Notes
            textarea.form__textarea.js-form-input#textareaDonorNotes(name="NOTE_DONOR", readonly)
        p.form__title
          span Admin part
          span.small (all address fields must be filled to save full address)
        input#inputDonorAddress(name="ADDRESS", type="hidden")
        .form__row
          .form__cell_3
            label.form__label(for="inputPhoto") Photo
            input.form__input.js-form-input#inputPhoto(name="PHOTO", type="text")
          .form__cell_3
            label.form__label(for="inputAdminName") Admin Name
            input.form__input.js-form-input#inputAdminName(name="NAME_ADMIN", type="text")
          .form__cell_3
            label.form__label(for="inputValueUsd") Value USD
            input.form__input.js-form-input#inputValueUsd(name="VALUE_USD", type="text")
        .form__row
          .form__cell_3
            label.form__label(for="inputDonorStreet") Donor Address: Street
            input.form__input.js-address-field#inputDonorStreet(type="text")
          .form__cell_3
            label.form__label(for="inputDonorCity") Donor Address: City
            input.form__input.js-address-field#inputDonorCity(type="text")
          .form__cell_3
            label.form__label(for="inputDonorRegion") Donor Address: Region
            input.form__input.js-address-field#inputDonorRegion(type="text")
        .form__row
          .form__cell_3
            label.form__label(for="inputDonorZip") Donor Address: ZIP
            input.form__input.js-address-field#inputDonorZip(type="text")
          .form__cell_3
            label.form__label(for="inputDonorCountry") Donor Address: Coutry
            input.form__input.js-address-field#inputDonorCountry(type="text")
          .form__cell_3
            label.form__label(for="inputDateReceived") Date Received
            input.form__input.js-form-input#inputDateReceived(name="RECEIVED", type="text")
        .form__row
          .form__cell_6
            label.form__label(for="textareaAdminNotes") Admin Notes
            textarea.form__textarea.js-form-input#textareaAdminNotes(name="NOTE_ADMIN")
        .form__row
          button.btn.btn-large.btn-success(type="submit") Update

    //table#dataTable.stripe.admin-donatephone__table
    //  thead
    //    tr
    //      th
    //      th Email
    //      th Donor Name
    //      th Donation Count
    //      th Donor Notes
    //      th Admin Notes
    //      th Donor Address
    //      th Photo
    //      th Email Real
    //      th Date Registered
    //      th Date Received
    //      th Admin Name
    //      th Estimated Value