extends layout
block additionalfiles
  script(type='text/javascript', src='#{rfcx_cdn}/js/donatephone.js?v=#{app_version}')
  script(src='https://www.google.com/recaptcha/api.js')
block content
  section.content
    .content__i
      .donatephone
        .donatephone__title
          include common/help-silence-title
        form#donateForm.form.donatephone__form(action="/donate_phone/donor", method="post", data-parsley-validate)
          .donatephone__step.donatephone__step_1#donatePhoneStep1
            .donatephone__left
              .donatephone__select-container
                p.donatephone__question I want to donate
                span.select-custom.donatephone__select
                  select.select.js-select-phones-qty(name="COUNT")
                    option(value="1", selected="selected") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                p.donatephone__question.js-smartphones-word.
                  smartphone<span class="many js-many">s</span>
              button.btn.btn-success.btn-large#getStartedBtn(type="button") Get Started!
            .donatephone__right
              .donatephone__benefits
                p.donatephone__text How can you help us:
                ul.donatephone__benefits-list
                  li.donatephone__benefit-item lorem ipsum dolor sit amet
                  li.donatephone__benefit-item lorem ipsum sit amet
                  li.donatephone__benefit-item lorem ipsum dolor sit amet ipsum sit amet dolor
          .donatephone__step.donatephone__step_2#donatePhoneStep2
            .donatephone__left
              .donatephone__text Please type your E-mail address here (required):
              .form__row.donatephone__input-container
                input.donatephone__input(type="email", name="EMAIL", data-parsley-trigger="change", placeholder="E-mail" required)
              .donatephone__text Please type your name (optional):
              .form__row.donatephone__input-container
                input.donatephone__input(name="NAME_DONOR", placeholder="Your name", type="text")
              .donatephone__text You can add some notes for us (optional):
              .form__row.donatephone__input-container
                textarea.donatephone__textarea(name="NOTE_DONOR", placeholder="Note")
              .donatephone__text Are you a robot? (required):
              .g-recaptcha(data-sitekey="6LfJdg4TAAAAAIxtNdSegF9wIshD1JlYa2852csQ")
              .form__row.donatephone__input-container
                button.btn.btn-success.btn-large(type="submit") Send
            .donatephone__right
              .donatephone__benefits
                p.donatephone__text Why do we need this?
                ul.donatephone__benefits-list
                  li.donatephone__benefit-item We will use this E-mail to send your personal token
                  li.donatephone__benefit-item lorem ipsum sit amet
                  li.donatephone__benefit-item lorem ipsum dolor sit amet ipsum sit
          .donatephone__step.donatephone__step_3#donatePhoneStep3
            .donatephone__text.donatephone__text_huge
              | Your personal token is <b id="personalToken"></b>
            .donatephone__text
              | Please include it in the box with your phone