extends layout
block content
  section.content
    .content__i
      .donatephone
        .donatephone__title
          include common/help-silence-title
        .donatephone__step.donatephone__step_3
          if (query.token)
            .donatephone__text.donatephone__text_huge.
              Your personal token is <b>#{query.token}</b>
            .donatephone__text
              | Please include it in the box with your phone
          else
            .donatephone__text.donatephone__text_huge
              | No token was specified