extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-1
    div.span10.offset1
      p.roadgeek.rfcx-header= "FINALLY, TREES THAT CAN TALK"
      p.rfcx-body
        span= "Rainforest Connection uses mobile technology and existing, ubiquitous telecommunication infrastructure"
        br
        span= "to monitor and protect forests in real-time. "
