extends layout

block content

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-1(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "PAGE FOR MEDIA CONTACTS, ASSETS AND PAST COVERAGE"
      p.rfcx-body

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-2(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "IMAGES"
      p.rfcx-body
    a(target="_blank",href="http://farm4.staticflickr.com/3832/10834924195_21bec14c46_o.jpg")
      img(src="//farm4.staticflickr.com/3832/10834924195_383beff3d0_n.jpg")
    a(target="_blank",href="http://farm8.staticflickr.com/7304/10834953145_acc5cd2d8c_o.jpg")
      img(src="//farm8.staticflickr.com/7304/10834953145_102714f799_n.jpg")
    a(target="_blank",href="http://farm8.staticflickr.com/7403/10835116584_ac73ffda41_o.jpg")
      img(src="//farm8.staticflickr.com/7403/10835116584_95188d4d9f_n.jpg")
    a(target="_blank",href="http://farm8.staticflickr.com/7459/10835267423_3641e10275_o.jpg")
      img(src="//farm8.staticflickr.com/7459/10835267423_4da14f7369_n.jpg")

    a(target="_blank",href="http://farm6.staticflickr.com/5518/10835256143_f8f3a75993_o.jpg")
      img(src="//farm6.staticflickr.com/5518/10835256143_5e7f6b88bd_n.jpg")

    a(target="_blank",href="http://farm4.staticflickr.com/3747/10834579143_b906a08c44_o.jpg")
      img(src="//farm4.staticflickr.com/3747/10834579143_18c9b19842_n.jpg")

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-3(style="text-align:center;")
