extends layout

block content

  section.content
  .content__i
    div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-1(style="text-align:center;")
      div.span12
        p.roadgeek.rfcx-header= "GREAT JOURNALISM DESERVES GREAT MATERIAL"

    div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-img(style="text-align:center;padding-top:20px;")
      div.span12
        p.rfcx-body(style="font-size:16px;")
          span= "We're here to help you find what you're looking for."

    div.row-fluid.rfcx-row.rfcx-row-media-img(style="text-align:center;")
      div.span6
        p.roadgeek.rfcx-header= "CONTACT US"
        p.rfcx-body

      div.span6
        p.roadgeek.rfcx-header= "CONTACT US"
        p.rfcx-body

    div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-press-clippings
      div.span12

