extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-1(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "PAGE FOR MEDIA CONTACTS, ASSETS AND PAST COVERAGE"
      p.rfcx-body

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-2(style="text-align:center;")


  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-3(style="text-align:center;")

