  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-4
    div.span5.offset1
      img.frog-img(src="#{rfcx_cdn}/img/about/azureus.290.png?v=#{app_version}")
    div.span6
      p.roadgeek.rfcx-header
        | REAL VALUE:
        br
        | WHY FROGS
        i.fa.fa-angle-right(style="margin:0px 10px;")
        | LOGS
      p.rfcx-body
        img.frog-img-mobile(src="#{rfcx_cdn}/img/about/azureus.290.png?v=#{app_version}")
        | Short rational appeal for why saving the rainforest is an imperative.
        br
        | End with a succinct, potent emotional appeal.