extends layout

block content
  
  div.container-narrow.banner-video
    div.dynamic-crop-right.banner-bg(style="background-image:url(#{rfcx_cdn}/img/intro/banner-forest.1400.jpg?v=#{app_version});")
    div.video-box.video-box-page(data-video-id="vid01",data-video-version="7",data-video-youtube="XryA4YLKPj0")
      img.rfcx-trans-linear.video-box-poster(src="#{rfcx_cdn}/img/intro/video-poster.512.jpg")
      img.rfcx-trans-linear.rfcx-trans-25.video-box-bg(src="#{rfcx_cdn}/img/intro/16x9.16.gif")
      i.rfcx-trans-linear.fa.fa-play-circle-o
    span.rfcx-unselectable.slogan
      p.roadgeek
        | PROTECTING RAINFORESTS
        br
        | WITH REAL-TIME DATA
      p.video-link
        | Watch the video to learn how it works
        i.fa.fa-play

  div.row-fluid.rfcx-row.rfcx-row-intro-stats
    div.span12

