body { padding-top: 0px; padding-bottom: 40px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight:300; -webkit-font-smoothing:antialiased; }

.roadgeek { font-family:'roadgeek_2005_engschrift',Sans-Serif; font-size:42px; margin-bottom:15px; }

.rfcx-unselectable { user-select:none; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; }
.rfcx-selectable { user-select:text; -webkit-touch-callout:text; -webkit-user-select:text; -khtml-user-select:text; -moz-user-select:text; -ms-user-select:text; -o-user-select:text; }
.rfcx-trans-linear { -webkit-transition:all .2s linear; -moz-transition:all .2s linear; transition:all .2s linear; }

.icon-facebook-sign { color:#3b5998; }
.icon-twitter-sign { color:#4099ff; }

.container-narrow { margin:0 auto; max-width:900px; position:relative; }
.masthead .logo { width:280px; height:51px; }
.masthead { margin-bottom:5px; margin-top:22px; }
.masthead ul { margin-right:20px; margin-top:5px; }
.masthead li a { color:#c8c8c8; font-size:16px; font-weight:600; }
.masthead li a:hover { color:#b0b0b0; background-color:#eeeeee; }
.masthead li.active a, .masthead li.active a:hover { color:#5c5c5c; background-color:white; }
.masthead .masthead-social { font-size:2.5em; margin-top:5px; vertical-align:top; text-decoration:none; }
.masthead a:hover .masthead-social { color:#888888; }

.banner-video { height:365px; }
.banner-video .slogan { position:absolute; margin-top:130px; margin-left:10px; color:#ffffff; z-index:1; }
.banner-video .banner-bg { position:absolute; z-index:0; width:120%; height:100%; left:-10%; max-width:120%; }
.banner-video .video-link { font-size:16px; cursor:pointer; padding-top:5px; font-weight:600; }
.banner-video .video-link .icon-arrow-right { margin-left:10px; }
.banner-video .video-link:hover .icon-arrow-right { margin-left:14px; }
.banner-video .video-link:hover { color:gray; }
.banner-video .video-box { position:absolute; z-index:1; margin-top:40px; margin-left:425px; height:252px; width:448px; border:solid 8px #ffffff; vertical-align:middle; color:#ffffff; cursor:pointer; }
.banner-video .video-box:hover { color:green; border-color:green; }
.banner-video .video-box .icon-play-circle { position:relative; font-size:144px; margin-left:152px; top:54px; }

.rfcx-row { border-top:solid 1px #e5ebed; padding-top:20px; margin-top:10px; }
.rfcx-row .rfcx-header { color:#494848; }
.rfcx-row .rfcx-body { color:#939393; font-weight:600; }

.footer { background-color:#898989; color:#ffffff; font-size:14px; height:50px; }
.footer ul { margin-top:15px; }
.footer li { margin-right:8px; }
.footer .nav-pills>li>a, .footer .nav-pills>li>a:hover { padding-top:0px; padding-bottom:0px; margin-top:0px; margin-bottom:0px; line-height:20px;  color:#ffffff; padding-left:0px; padding-right:0px; }
.footer .nav-pills>li>a:hover { background-color:#898989; text-decoration:none; color:black; }
.footer .footer-social { font-size:2em; margin-top:10px; vertical-align:top; text-decoration:none; color:#ffffff; }
.footer a:hover .footer-social { color:#000000; }
