option_settings:

  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 8
    option_name: MinSize
    value: 2

  - namespace: aws:rds:dbinstance
    option_name: DBInstanceClass
    value: db.t1.micro

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t1.micro
    option_name: EC2KeyName
    value: rfcx-awseb

  - namespace: aws:elb:healthcheck
    option_name: Application Healthcheck URL
    value: /
    option_name: Interval
    value: 10
    option_name: Timeout
    value: 5
    option_name: HealthyThreshold
    value: 3
    option_name: UnhealthyThreshold
    value: 3

  - namespace: aws:elasticbeanstalk:hostmanager
    option_name: LogPublicationControl
    value: true

  - namespace: aws:elasticbeanstalk:sns:topics
    option_name: Notification Endpoint
    value: admin@rfcx.org
    option_name: Notification Protocol
    value: email