option_settings:

  - namespace: aws:elasticbeanstalk:sns:topics

    option_name: Notification Endpoint
    value: admin@rfcx.org

    option_name: Notification Protocol
    value: email

  - namespace: aws:autoscaling:asg

    option_name: MaxSize
    value: 8

    option_name: MinSize
    value: 1

  - namespace: aws:rds:dbinstance

    option_name: DBInstanceClass
    value: db.t1.micro

  - namespace: aws:elasticbeanstalk:hostmanager
  
    option_name: LogPublicationControl
    value: true

  - namespace: aws:autoscaling:launchconfiguration

    option_name: InstanceType
    value: t1.micro

    option_name: EC2KeyName
    value: rfcx-awseb