option_settings:

  - option_name: NODE_ENV
    value: production

  - option_name: NEW_RELIC_KEY
    value: 

  - option_name: SEGMENT_ANALYTICS_CLIENT_ID
    value: 

  - option_name: ADDTHIS_PUBID
    value: 

  - option_name: AWS_ACCESS_KEY_ID
    value: 

  - option_name: AWS_SECRET_KEY
    value: 
    