option_settings:

  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles

    option_name: /static
    value: /public

  - namespace: aws:elasticbeanstalk:container:nodejs

    option_name: ProxyServer
    value: apache

    option_name: GzipCompression
    value: true

    option_name: NodeVersion
    value: 0.8.21

    option_name: NodeCommand
    value: "npm start"
