

.video-box-page { margin-top:120px; height:130px; }

.banner-video .slogan-left { margin-top:10px; margin-left:5%; width:90%; text-align:center; display:block; top:265px;  }
.banner-video .slogan-left .roadgeek { font-size:23px !important;line-height:18px !important; }
.banner-video .slogan-top { position:absolute; top:0px; width:100%; left:0px; margin-left:0px; right:auto; text-align:center; }

 .span1 { padding-left:130px; }