body { padding-top: 0px; padding-bottom: 40px; min-width:900px; font-weight:300; -webkit-font-smoothing:antialiased; }

.roadgeek { font-family:'roadgeek_2005_engschrift',Sans-Serif; font-size:42px; line-height:40px; margin-bottom:15px; }
.lucida { font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; }
.helvetica { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.italic { font-style:italic; }
.bold { font-weight:bold; }

.rfcx-unselectable { user-select:none; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; }
.rfcx-selectable { user-select:text; -webkit-touch-callout:text; -webkit-user-select:text; -khtml-user-select:text; -moz-user-select:text; -ms-user-select:text; -o-user-select:text; }
.rfcx-trans-linear { -webkit-transition:all .2s linear; -moz-transition:all .2s linear; transition:all .2s linear; }
.rfcx-trans-75 { filter:alpha(opacity=75); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; -moz-opacity:0.75; -khtml-opacity:0.75; opacity:0.75; }
.rfcx-trans-67 { filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }
.rfcx-trans-50 { filter:alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5; }
.rfcx-trans-33 { filter:alpha(opacity=33); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=33)"; -moz-opacity:0.33; -khtml-opacity:0.33; opacity:0.33; }
.rfcx-trans-25 { filter:alpha(opacity=25); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"; -moz-opacity:0.25; -khtml-opacity:0.25; opacity:0.25; }
.rfcx-trans-0 { filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0.0; -khtml-opacity:0.0; opacity:0.0; }

.hover-trans-67:hover { filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }

.rfcx-crnr-5 { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.rfcx-crnr-10 { -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.rfcx-crnr-20 { -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; }
.rfcx-crnr-all-off { -moz-border-radius-topleft:0px !important; -webkit-border-top-left-radius:0px !important; -khtml-border-top-left-radius:0px !important; border-top-left-radius:0px !important; -moz-border-radius-topright:0px !important; -webkit-border-top-right-radius:0px !important; -khtml-border-top-right-radius:0px !important; border-top-right-radius:0px !important; -moz-border-radius-bottomleft:0px !important; -webkit-border-bottom-left-radius:0px !important; -khtml-border-bottom-left-radius:0px !important; border-bottom-left-radius:0px !important; -moz-border-radius-bottomright:0px !important; -webkit-border-bottom-right-radius:0px !important; -khtml-border-bottom-right-radius:0px !important; border-bottom-right-radius:0px !important; }
.rfcx-crnr-tl-off { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; }
.rfcx-crnr-tr-off { -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; }
.rfcx-crnr-bl-off { -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; }
.rfcx-crnr-br-off { -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-t-off { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; }
.rfcx-crnr-b-off { -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-r-off { -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; }
.rfcx-crnr-l-off { -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; }
.rfcx-crnr-tl-only { -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-tr-only { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-bl-only { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-br-only { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; }

.fa-facebook-square { color:#3b5998; }
.fa-twitter-square { color:#4099ff; }

.input-append .btn { border-width:1px; font-size:18px; font-weight:bold; }
input::-webkit-input-placeholder { color:#cccccc; }

.container-narrow { margin:0 auto; width:900px; max-width:900px; position:relative; }
.masthead .logo { position:absolute; width:31.1%; top:21.1%; margin-top:2px; left:4px; z-index:1; }
.masthead { position:relative; margin-bottom:0px; margin-top:0px; height:76px; }
.masthead .masthead-bg { position:absolute; width:155.6%; max-width:155.6%; height:100%; left:-27.8%; top:0px; z-index:0; }
.masthead .menu-toggle { display:none; }
.masthead ul { position:relative; margin-top:20px; z-index:1; }
.masthead li { position:relative; font-size:16px; }
.masthead li a { position:relative; color:#ffffff; font-weight:600; }
.masthead li a:hover { color:#ffffff; background-color:transparent; }
.masthead li.active a:hover { top:0px; }
.masthead li.active a, .masthead li.active a:hover { color:#ffffff; background-color:transparent; cursor:default; }
.masthead li.active i { position:absolute; font-size:42px; width:100%; text-align:center; top:43px; }
/*.masthead .social-share { position:relative; font-size:30px; width:30px; color:transparent; margin:23px 4px 0px 20px; vertical-align:top; text-decoration:none; z-index:2; }*/
.masthead li.active i.fa-sort-up { height:15px; overflow:hidden; }
.masthead #masthead-notch-intro { /*color:rgb(15,42,14);*/ display:none; color:rgb(94,126,94); height:13px; }
.masthead #masthead-notch-about { color:rgb(239,240,241); }
.masthead #masthead-notch-get_involved { color:rgb(244,245,246); }
.masthead #masthead-notch-blog { color:rgb(255,255,255); }
.masthead #masthead-notch-team { color:rgb(249,250,251); }
.masthead #masthead-notch-forum { color:rgb(251,252,253); }
.masthead #masthead-notch-media { color:rgb(251,252,253); }

.banner-video { height:380px; }
.banner-video .slogan { position:absolute; margin-top:140px; margin-left:10px; color:#ffffff; z-index:1; line-height:48px; }
.banner-video .slogan p.roadgeek { font-size:48px; margin-bottom:0px; cursor:default; }
.banner-video .banner-bg { position:absolute; z-index:0; width:155.6%; height:100%; left:-27.8%; max-width:155.6%; }
.banner-video .video-link { font-size:16px; padding-top:0px; font-weight:600; margin-left:0px; cursor:default; }
.banner-video .video-link .fa-play { position:relative; margin-left:8px; font-size:10px; top:-1px;  }

.video-box { position:absolute; z-index:1; margin-top:45px; width:448px; margin-left:433px; border:solid 4px #ffffff; vertical-align:middle; color:#ffffff; cursor:pointer; }
.video-box .fa-play-circle-o { position:absolute; font-size:144px; margin:auto; top:0; left:0; bottom:0; right:0; width:100%; height:144px; text-align:center; padding:none; z-index:2; }
.video-box .video-box-poster { position:absolute; z-index:0; width:100%; height:252px; border:none; }
.video-box .video-box-bg { position:relative; z-index:1; width:100%; background-color:#00bb00; border:none; }
.video-box-page:hover .video-box-bg { filter:alpha(opacity=40); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; -moz-opacity:0.40; -khtml-opacity:0.40; opacity:0.40; }
.video-box-page:hover .fa-play-circle-o { filter:alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; -moz-opacity:0.80; -khtml-opacity:0.80; opacity:0.80; }
.video-box-outer { z-index:1000; display:none; margin-left:0px; margin-top:0px; border:solid 4px #ffffff; }
.video-box-outer-backdrop { z-index:999; background-color:black; display:none; position:absolute; top:0%; left:0%; width:100%; height:0%; filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0; -khtml-opacity:0; opacity:0; }
.video-player-close { position:absolute; top:0px; right:0px; z-index:1001; color:#fff; font-size:42px; padding:8px 12px; font-weight:bold; background-color:transparent; text-decoration:none; }
.video-player-close:hover { background-color:#bbb; text-decoration:none; color:black; }

.rfcx-row { padding-top:20px; margin-top:10px; position:relative; overflow:hidden; } 
.rfcx-row .rfcx-header { color:#494848;  margin-bottom:15px; }
.rfcx-row .rfcx-body { color:#838383; padding-top:12px; padding-bottom:8px; font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; }
/*.rfcx-row-gradient { border-top:solid 1px rgba(234,235,236,1); background: -moz-radial-gradient(center top, ellipse cover,  rgba(234,235,236,1) 0%, rgba(234,235,236,1) 25%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%); background: -webkit-gradient(radial, center top, 0px, center center, 100%, color-stop(0%,rgba(234,235,236,1)), color-stop(25%,rgba(234,235,236,1)), color-stop(72%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); background: -webkit-radial-gradient(center top, ellipse cover,  rgba(234,235,236,1) 0%,rgba(234,235,236,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: -o-radial-gradient(center top, ellipse cover,  rgba(234,235,236,1) 0%,rgba(234,235,236,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: -ms-radial-gradient(center top, ellipse cover,  rgba(234,235,236,1) 0%,rgba(234,235,236,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: radial-gradient(ellipse at center top,  rgba(234,235,236,1) 0%,rgba(234,235,236,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); }
*/
.rfcx-row-gradient { border-top:solid 1px rgba(239,240,241,1); background: -moz-radial-gradient(center top, ellipse cover,  rgba(239,240,241,1) 0%, rgba(239,240,241,1) 25%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%); background: -webkit-gradient(radial, center top, 0px, center center, 100%, color-stop(0%,rgba(239,240,241,1)), color-stop(25%,rgba(239,240,241,1)), color-stop(72%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); background: -webkit-radial-gradient(center top, ellipse cover,  rgba(239,240,241,1) 0%,rgba(239,240,241,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: -o-radial-gradient(center top, ellipse cover,  rgba(239,240,241,1) 0%,rgba(239,240,241,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: -ms-radial-gradient(center top, ellipse cover,  rgba(239,240,241,1) 0%,rgba(239,240,241,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: radial-gradient(ellipse at center top,  rgba(239,240,241,1) 0%,rgba(239,240,241,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); }

.rfcx-row-intro-what {  }
.rfcx-row-intro-what .infographic-box { position:relative; cursor:pointer; width:450px; background-color:#d7d7d7; margin-top:4px; border:solid 8px white; overflow:visible; }
.rfcx-row-intro-what .infographic-box:hover { border-color:#c7c7c7; background-color:#c7c7c7; }
.rfcx-row-intro-what .infographic-box .expand-button { position:absolute; vertical-align:top; text-decoration:none; }
.rfcx-row-intro-what .infographic-box .expand-button-front { z-index:2; right:-15px; top:-21px; font-size:72px; color:white; }
.rfcx-row-intro-what .infographic-box .expand-button-rear { z-index:1; right:-25px; top:-32px; font-size:96px; color:#d7d7d7; }
.rfcx-row-intro-what .infographic-box:hover .expand-button-front { color:#4e8337; right:-20px; top:-26px; font-size:82px; }
.rfcx-row-intro-what .infographic-box:hover .expand-button-rear { color:#c7c7c7; right:-31px; top:-38px; font-size:106px; }
.rfcx-row-intro-what .infographic-box .infographic-thmb { width:100%; }

.rfcx-row-intro-stats .rfcx-header { margin:0px 0px 0px 15px; }
.rfcx-row-intro-stats .rfcx-body { margin:0px 0px 0px 15px; }
.rfcx-row-intro-stats .slider-container { position:relative; border:solid 6px #dddddd; width:98%; height:295px; margin-right:auto; margin-left:auto; overflow:visible; margin-bottom:10px; }
.rfcx-row-intro-stats .slider-container div { position:absolute; top:0%; left:0%; height:100%; overflow:hidden; border:solid 0px black; }
.rfcx-row-intro-stats .slider-container .slider-left { width:50%; z-index:1; background-color:gray; }
.rfcx-row-intro-stats .slider-container .slider-middle { left:50%; width:6px; height:105%; background-color:black; z-index:1; }
.rfcx-row-intro-stats .slider-container .slider-right { width:100%; z-index:0; background-color:green; }
.rfcx-row-intro-stats .slider-container .slider-percent { left:0%; top:0%; vertical-align:bottom; height:auto; line-height:295px; width:auto; font-size:110px; z-index:2; color:#ffffff; width:100%; text-align:center; }

.rfcx-row-intro-join .rfcx-header { margin:10px 0px 0px 15px; }
.rfcx-row-intro-join .rfcx-body { margin:0px 0px 0px 15px; width:80%; }
.rfcx-row-intro-join .control-group { margin-top:5px; margin-left:15px; }
.rfcx-row-intro-join .stopsign { position:relative; margin-left:0px; }
.rfcx-row-intro-join .stopsign-mobile { position:relative; float:right; display:none; }
.rfcx-row-intro-join .input-append .input-large { padding:13px 19px 11px 19px; }
.rfcx-row-intro-join .input-append .btn { padding:11px 19px 13px 19px; }
.rfcx-row-intro-join .social-follow-container { position:relative; margin:5px 0px 10px 20px; border:0; clear:both; top:10px; width:80%; }
.rfcx-row-intro-join .social-follow-container .social-follow-item { width:100%; }
.rfcx-row-intro-join .control-group .rfcx-body { margin-left:0px; position:relative; top:5px; width:200%; }
.rfcx-row-intro-join .control-group .parsley-error-list { display:none !important; }

.rfcx-row-about-1 { padding-top:30px; margin-top:0px; }
.rfcx-row-about-1 .rfcx-header, .rfcx-row-about-1 .rfcx-body, .rfcx-row-about-1 .rfcx-header, .rfcx-row-about-1 .screen-container { margin-left:auto; margin-right:auto; }
.rfcx-row-about-1 .rfcx-header { width:98%; text-align:center; font-size:55px; }
.rfcx-row-about-1 .rfcx-body { width:98%; text-align:center; }

.rfcx-row-about-1 .screen-container { position:relative; /*width:800px; height:483px;*/ width:560px; height:338px; border:0; background-color:transparent; float:right; }
.rfcx-row-about-1 .screen-container .screen-img { z-index:1; position:absolute; top:0%; left:0%; width:100%; height:100%; }
.rfcx-row-about-1 .screen-container .screen-bg { z-index:0; position:absolute; top:4.8%; left:4.5%; width:91.8%; height:70%;  }
.rfcx-row-about-1 .screen-container .alert-help { position:absolute; top:100px; width:0px; height:0px; border:0; background-color:transparent; }
.rfcx-row-about-1 .screen-container .hint:after, .rfcx-row-about-1 .screen-container [data-hint]:after { font-size:18px; padding:6px; left:2px; } 
.rfcx-row-about-1 .screen-container .hint--error:after { background-color:red; }
.rfcx-row-about-1 .screen-container .hint--error.hint--top:before { border-top-color:red; }

.rfcx-row-about-1-1 .rfcx-header { margin-bottom:5px; }
.rfcx-row-about-1-2 { padding-top:0px; }

.rfcx-row-about-2 { margin-top:0px; }
.rfcx-row-about-2 .trash-img { margin-top:20px; }
.rfcx-row-about-2 .trash-img-mobile { display:none; }
.rfcx-row-about-2 .rfcx-header { margin-top:20px; }
.rfcx-row-about-2 .rfcx-body {  }

.rfcx-row-about-3 { margin-top:0px; overflow:visible; }
.rfcx-row-about-3 .map-cropper { position:relative; float:right; width:450px; height:252px; background-color:gray; border:solid 4px #dddddd; margin:20px 35px 30px 0px; }
.rfcx-row-about-3 .map-cropper .map-frame { position:absolute; left:-20.4%; top:-8.7%; width:140%; max-width:140%; overflow:hidden; }
.rfcx-row-about-3 #map-container, .rfcx-row-about-3 .map-cover, .rfcx-row-about-3 .map-cropper-internal { position:absolute; top:0%; left:0%; width:100%; height:115%; z-index:0; }
.rfcx-row-about-3 .map-cropper-internal { height:100%; overflow:hidden; }
.rfcx-row-about-3 .map-cover { background-color:transparent; z-index:1; height:100%; top:0%; }
.rfcx-row-about-3 .rfcx-header { margin-top:20px; }
.rfcx-row-about-3 .rfcx-body {  }

.rfcx-row-about-4 {  }
.rfcx-row-about-4 .frog-img { margin-bottom:40px; }
.rfcx-row-about-4 .frog-img-mobile { display:none; }
.rfcx-row-about-4 .rfcx-header { margin-top:20px; }
.rfcx-row-about-4 .rfcx-body {  }

.rfcx-row-get_involved-1 { padding-top:40px; margin-top:0px;  }
.rfcx-row-get_involved-1 .rfcx-header, .rfcx-row-get_involved-1 .rfcx-body, .rfcx-row-get_involved-1 .rfcx-header { margin-left:auto; margin-right:auto; }
.rfcx-row-get_involved-1 .rfcx-header { width:98%; text-align:center; font-size:55px; }
.rfcx-row-get_involved-1 .rfcx-body { width:98%; text-align:center; }

.rfcx-row-get_involved-2 { padding:30px 0px 10px 0px;  }
.rfcx-row-get_involved-2 .input-append .input-large { width:156px; padding-left:10px; padding-right:7px; padding-top:10px; padding-bottom:10px; font-size:14px; }
.rfcx-row-get_involved-2 .input-append .btn { padding:9px 9px 11px 9px; font-size:18px; }
.rfcx-row-get_involved-2 .stripe-donate .btn { font-size:18px; padding:10px 15px; }
.rfcx-row-get_involved-2 .phone-donate .btn { font-size:18px; padding:10px 15px; }
.rfcx-row-get_involved-2 .control-group .parsley-error-list { display:none !important; }

.rfcx-row-media-1 { padding:30px 0px 10px 0px; margin-top:0px; }

.footer-forest { height:425px; }
.footer-forest .footer-bg { position:absolute; z-index:0; width:155.6%; height:100%; left:-27.8%; max-width:155.6%; border-bottom:solid 1px #444444; }

.control-group .input-append input { font-size:22px; padding:12px 19px 12px 19px; font-size:18px; }
.control-group .input-append span { font-size:22px; padding:10px 19px 14px 19px; font-size:18px; width:70px; }


.footer { background-color:#898989; color:#ffffff; font-size:12px; height:50px; margin-bottom:81px; }
.footer ul { margin-top:15px; }
.footer li { margin-right:8px; }
.footer .nav-pills>li>a, .footer .nav-pills>li>a:hover { padding-top:0px; padding-bottom:0px; margin-top:0px; margin-bottom:0px; line-height:20px;  color:#ffffff; padding-left:0px; padding-right:0px; }
.footer .nav-pills>li>a:hover { background-color:#898989; text-decoration:none; color:black; }
.footer .footer-social { font-size:2em; margin:0px 4px; position:relative; vertical-align:top; text-decoration:none; color:#ffffff; }
.footer a.pull-right { margin-top:11px; font-size:14px; }
.footer a:hover .footer-social { color:#000000; }
.footer span.copyright {  }

/* to avoid stretching the scrollable screen on the left */
.footer .hint--rounded:after { left:-103px; }

.btn-gray.active { color:rgba(255, 255, 255, 0.75); }
.btn-gray { font-weight:bold; color:#ffffff; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); background-color:#7e7e7e; background-image: -moz-linear-gradient(top, #888888, #6f6f6f); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#6f6f6f)); background-image: -webkit-linear-gradient(top, #888888, #6f6f6f); background-image: -o-linear-gradient(top, #888888, #6f6f6f); background-image: linear-gradient(to bottom, #888888, #6f6f6f); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff888888', endColorstr='#ff6f6f6f', GradientType=0); border-color: #6f6f6f #6f6f6f #484848; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); *background-color: #6f6f6f; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray.active, .btn-gray.disabled, .btn-gray[disabled] { color:#ffffff; background-color:#6f6f6f; *background-color:#626262; }
.btn-gray:active, .btn-gray.active { background-color:#555555; }

.btn-primary { font-weight:bold; }

.rfcx-banner-alert-container { position:absolute; top:0%; left:-27.8%; width:155.6%; max-width:155.6%; height:0px; overflow:hidden; }
.rfcx-banner-alert-inner { position:absolute; height:auto; top:0%; border-left:0; border-right:0; padding-left:0; padding-right:0; font-weight:bold; }
.rfcx-banner-alert-btn { position:relative; font-size:24px; left:0%; padding-top:16px; padding-bottom:18px; z-index:0; }
.rfcx-banner-alert-close { font-size:40px; right:50px; z-index:1; top:8px; cursor:pointer; background:none; }
.rfcx-banner-alert-close:hover { background:none; color:#ccc; }
.rfcx-banner-alert-btn:hover {  }

/*.rfcx-banner-alert-inner { position:absolute; height:auto; top:0%; border-left:0; border-right:0; padding-left:0; padding-right:0; font-weight:bold; }
.rfcx-banner-alert-btn { position:relative; font-size:24px; left:0%; padding-top:16px; padding-bottom:18px; z-index:0; }
.rfcx-banner-alert-close { font-size:40px; right:50px; z-index:1; }*/
/* AddThis style overrides */
/*.aticon-facebook, .aticon-twitter, .aticon-google_follow, .at4-show .at4-arrow, .at4-follow.at4-follow-24 .at4-follow-inner .at4-follow-close-control div { background-image:none !important; background:none !important; font-family:FontAwesome; font-weight:normal; font-style:normal; display:inline-block; text-decoration:inherit; text-indent:0; font-size:24px; color:#ffffff; }
.at-follow-btn, .at4-arrow { text-decoration:none; -webkit-transition:all .2s linear; -moz-transition:all .2s linear; transition:all .2s linear; }
.at-follow-btn:hover, .at4-arrow:hover{ text-decoration:none; filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }
div#at4-follow { padding-top:16px; }
div.at-follow-open-control div.at4-arrow { margin-top:16px; }
.aticon-facebook:before { content:'\f082  '; }
.aticon-twitter:before { content:'\f081  '; }
.aticon-google_follow:before { content:'\f0d4  '; }
.at4-follow-close-control div.at4-arrow { position:relative; margin-left:5px; top:2px; }
.at4-show .at4-arrow:before { content:'\f0d9  '; }
.at4-follow-close-control div.at4-arrow:before { content:'\f0da  '; }*/

.at-vertical-menu.at-vertical-menu-right { top:150px; }
.at-vertical-menu.at-vertical-menu-right a { min-width:132px; width:132px; }
.at-vertical-menu.at-vertical-menu-right a:hover { background:rgba(144,144,144,0.8); right:75px; }
.at-vertical-menu label, .at-vertical-menu .at-share-label { font-family:'roadgeek_2005_engschrift',Sans-Serif; font-size:18px; }
.at-vertical-menu .aticon { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }

.vjs-default-skin .vjs-volume-level, .vjs-default-skin .vjs-play-progress { background: #338833 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat !important; }
.video-js .vjs-text-track { font-size:1.8em !important; }
