body { padding-top: 0px; padding-bottom: 40px; min-width:900px; font-weight:300; -webkit-font-smoothing:antialiased; }

.roadgeek { font-family:'roadgeek',Sans-Serif; font-size:42px; line-height:40px; margin-bottom:15px; }
.lucida { font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; }
.helvetica { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.italic { font-style:italic; }
.bold { font-weight:bold; }
.ul { text-decoration:underline; }

.modal { z-index:1000003; }
.modal-backdrop { z-index:1000002; }
.modal a { color:#494848; }
.modal a:hover { color:#49cc48; text-decoration:none; }
.modal .close { font-size:32px; line-height:32px; position:relative; top:-4px; left:2px; }

.mobile-only { display:none; }

.rfcx-thmb { position:relative; padding:0px; overflow:hidden; }
.rfcx-thmb img { position:absolute; visibility:hidden; top:0%; left:0%; width:auto; height:auto; border:none; z-index:0; max-width:300%; }

.rfcx-thmb-media, .rfcx-video-media { float:left; margin:8px; }

.rfcx-thmb-media { width:280px; height:240px; border:solid 1px #aaa; }
.rfcx-thmb-media:hover { border:solid 1px #000; }

.rfcx-thmb-media-bttn-container { position:relative; overflow:visible; width:0px; height:0px; border:none; }
.rfcx-thmb-media-bttn-container .btn { position:absolute; top:250px;  }

.rfcx-video-media { width:428px; height:266px; }

.rfcx-unselectable { user-select:none; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; }
.rfcx-selectable { user-select:text; -webkit-touch-callout:text; -webkit-user-select:text; -khtml-user-select:text; -moz-user-select:text; -ms-user-select:text; -o-user-select:text; }
.rfcx-trans-linear { -webkit-transition:all .2s linear; -moz-transition:all .2s linear; transition:all .2s linear; }
.rfcx-trans-100 { filter:alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -moz-opacity:1; -khtml-opacity:1; opacity:1; }
.rfcx-trans-90 { filter:alpha(opacity=90); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90; }
.rfcx-trans-85 { filter:alpha(opacity=85); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; -moz-opacity:0.85; -khtml-opacity:0.85; opacity:0.85; }
.rfcx-trans-75 { filter:alpha(opacity=75); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; -moz-opacity:0.75; -khtml-opacity:0.75; opacity:0.75; }
.rfcx-trans-67 { filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }
.rfcx-trans-50 { filter:alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5; }
.rfcx-trans-33 { filter:alpha(opacity=33); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=33)"; -moz-opacity:0.33; -khtml-opacity:0.33; opacity:0.33; }
.rfcx-trans-25 { filter:alpha(opacity=25); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"; -moz-opacity:0.25; -khtml-opacity:0.25; opacity:0.25; }
.rfcx-trans-0 { filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0.0; -khtml-opacity:0.0; opacity:0.0; }

.hover-trans-67:hover { filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }

.rfcx-crnr-5 { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.rfcx-crnr-10 { -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.rfcx-crnr-20 { -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; }
.rfcx-crnr-all-off { -moz-border-radius-topleft:0px !important; -webkit-border-top-left-radius:0px !important; -khtml-border-top-left-radius:0px !important; border-top-left-radius:0px !important; -moz-border-radius-topright:0px !important; -webkit-border-top-right-radius:0px !important; -khtml-border-top-right-radius:0px !important; border-top-right-radius:0px !important; -moz-border-radius-bottomleft:0px !important; -webkit-border-bottom-left-radius:0px !important; -khtml-border-bottom-left-radius:0px !important; border-bottom-left-radius:0px !important; -moz-border-radius-bottomright:0px !important; -webkit-border-bottom-right-radius:0px !important; -khtml-border-bottom-right-radius:0px !important; border-bottom-right-radius:0px !important; }
.rfcx-crnr-tl-off { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; }
.rfcx-crnr-tr-off { -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; }
.rfcx-crnr-bl-off { -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; }
.rfcx-crnr-br-off { -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-t-off { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; }
.rfcx-crnr-b-off { -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-r-off { -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; }
.rfcx-crnr-l-off { -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; }
.rfcx-crnr-tl-only { -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-tr-only { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-bl-only { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px; -khtml-border-bottom-right-radius:0px; border-bottom-right-radius:0px; }
.rfcx-crnr-br-only { -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -khtml-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -khtml-border-top-right-radius:0px; border-top-right-radius:0px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; -khtml-border-bottom-left-radius:0px; border-bottom-left-radius:0px; }

.fa-facebook-square { color:#3b5998; }
.fa-twitter-square { color:#4099ff; }

.input-append .btn { border-width:1px; font-size:18px; font-weight:bold; }
input::-webkit-input-placeholder { color:#cccccc; }

.container-narrow { margin:0 auto; width:900px; max-width:900px; position:relative; }
.masthead .logo { position:absolute; width:31.1%; top:21.1%; margin-top:2px; left:4px; z-index:1; }
.masthead { position:relative; margin-bottom:0px; margin-top:0px; height:76px; }
.masthead-bg { position:absolute; width:155.6%; max-width:155.6%; height:100%; left:-27.8%; top:0px; z-index:0; }
.masthead .menu-toggle { display:none; }
.masthead ul { position:relative; margin-top:20px; z-index:1; }
.masthead li { position:relative; font-size:16px; }
.masthead li a { position:relative; color:#ffffff; font-weight:600; }
.masthead li a:hover { color:#ffffff; background-color:transparent; }
.masthead li.active a:hover { top:0px; }
.masthead li.active a, .masthead li.active a:hover { color:#ffffff; background-color:transparent; cursor:default; }
.masthead li.active i { position:absolute; font-size:42px; width:100%; text-align:center; top:43px; }
/*.masthead .social-share { position:relative; font-size:30px; width:30px; color:transparent; margin:23px 4px 0px 20px; vertical-align:top; text-decoration:none; z-index:2; }*/
.masthead li.active i.fa-sort-up { height:15px; overflow:hidden; }
.masthead #masthead-notch-intro { /*color:rgb(15,42,14);*/ display:none; color:rgb(94,126,94); height:13px; }
.masthead #masthead-notch-about { color:rgb(239,240,241); }
.masthead #masthead-notch-get_involved { color:rgb(244,245,246); }
.masthead #masthead-notch-media { color:rgb(251,252,253); }

#rfcx-menu-mobile { display:none; }
#rfcx-disclaimer-mobile { display:none; }

.banner-video { height:380px; margin-bottom:10px; }
.banner-video p { text-shadow: 0px 0px 2px #004400; filter: dropshadow(color=#004400, offx=0, offy=0); }
.banner-video .slogan { position:absolute; margin-top:40px; margin-left:10px; color:#ffffff; z-index:1; line-height:48px; text-transform:uppercase; }
.banner-video .slogan p.roadgeek { font-size:48px; margin-bottom:0px; cursor:default; }
.banner-video .banner-bg { position:absolute; z-index:0; width:155.6%; height:100%; left:-27.8%; max-width:155.6%; }
.banner-video .video-link { font-size:16px; padding-top:0px; font-weight:600; margin-left:0px; cursor:default; text-transform:none; }
.banner-video .video-link .fa-play { position:relative; margin-left:8px; font-size:10px; top:-1px;  }

.banner-video .intro-social { position:absolute; margin-top:232px; font-size:48px; margin-left:10px; color:#ffffff; z-index:1; line-height:48px; text-transform:uppercase;  }
.banner-video .intro-social .fa { color:#eeeeee; }
.banner-video .intro-social .fa:hover { color:#888888; }
.banner-video .intro-social-facebook { margin-left:16px; }
.banner-video .intro-social-tumblr { margin-left:260px; display:none; }
.banner-video .intro-social-twitter { margin-left:78px; }

.banner-video .control-group { position:absolute; margin-top:232px; margin-left:144px; background-color:rgba(255,255,255,0.5); padding:10px 8px 0px 8px; }

.video-box { position:absolute; z-index:1; margin-top:45px; width:448px; margin-left:48.1%; border:solid 4px #ffffff; vertical-align:middle; color:#ffffff; cursor:pointer; }
.video-box .video-box-poster { position:absolute; z-index:0; width:100%; height:252px; border:none; }
.video-box .video-box-bg { position:relative; z-index:1; width:100%; background-color:#00bb00; border:none; }
.video-box-page:hover .video-box-bg { filter:alpha(opacity=40); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; -moz-opacity:0.40; -khtml-opacity:0.40; opacity:0.40; }
.video-box-outer, .video-box-followup { z-index:1000; display:none; margin-left:0px; margin-top:0px; border:solid 4px #ffffff; }
.video-box-outer-backdrop, .video-box-outer-backdrop-extra { z-index:999; background-color:black; display:none; position:absolute; top:0%; left:0%; width:100%; height:0%; filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0; -khtml-opacity:0; opacity:0; }
.video-box-followup { border:solid 4px #000; background-color:transparent; cursor:default; margin-left:0%; margin-top:0%; }
.video-box-followup iframe, .video-box-followup div, .video-box-followup p { position:absolute; z-index:10; }
.video-box-followup .video-followup-bg { position:absolute; left:0%; top:0%; width:100%; height:100%; border:0; background-color:#000; z-index:0; }
.video-box-followup .video-followup-x { position:absolute; right:3px; top:3px; width:20px; height:20px; background-color:transparent; border:0; cursor:pointer; }
.video-box-followup .video-followup-x .fa { position:absolute; right:0px; top:-4px; font-size:24px; color:white; }
.video-box-followup .video-followup-x:hover .fa { color:#aaaaaa; }
.video-box-followup .rfcx-header { left:2%; width:96%; top:15px; text-align:center; font-size:42px; line-height:40px; margin-top:20px; }
.video-box-followup .rfcx-sub-header { top:75px; font-size:26px; line-height:6px; }
.video-box-followup .rfcx-social-like { z-index:11; top:175px; }
.video-box-followup .rfcx-social-like-bttm { top:210px; }
.video-player-close { position:absolute; top:0px; right:0px; z-index:1001; color:#fff; font-size:42px; padding:8px 12px; font-weight:bold; background-color:transparent; text-decoration:none; }
.video-player-close:hover { background-color:#bbb; text-decoration:none; color:black; }

.video-box .fa-play-circle-o, .infographic-box .fa-play-circle-o { position:absolute; font-size:144px; margin:auto; top:0; left:0; bottom:0; right:0; width:100%; height:144px; text-align:center; padding:none; z-index:2; }
.video-box-page:hover .fa-play-circle-o, .infographic-box:hover .fa-play-circle-o { filter:alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; -moz-opacity:0.80; -khtml-opacity:0.80; opacity:0.80; }

.rfcx-social-like { position:absolute; border:none; top:0px; width:25%; height:40px; }
.rfcx-social-like iframe, .rfcx-social-like div { position:relative; border:none; overflow:hidden; height:21px; margin-left:auto; margin-right:auto; max-width:140px; }
.rfcx-tw-like { left:9%; }
.rfcx-fb-like { left:38%; }
.rfcx-gp-like { left:76%; }
.rfcx-li-like { left:24%; }
.rfcx-at-like { left:58%; }

.rfcx-row { padding-top:20px; margin-top:10px; position:relative; overflow:hidden; } 
.rfcx-row .rfcx-header { color:#494848;  margin-bottom:15px; }
.rfcx-row .rfcx-body { color:#636363; padding-top:12px; padding-bottom:8px; font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; }

.rfcx-row-gradient { border-top:solid 1px rgba(235,236,237,1); background: -moz-radial-gradient(center top, ellipse cover,  rgba(235,236,237,1) 0%, rgba(235,236,237,1) 25%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%); background: -webkit-gradient(radial, center top, 0px, center center, 100%, color-stop(0%,rgba(235,236,237,1)), color-stop(25%,rgba(235,236,237,1)), color-stop(72%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); background: -webkit-radial-gradient(center top, ellipse cover,  rgba(235,236,237,1) 0%,rgba(235,236,237,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: -o-radial-gradient(center top, ellipse cover,  rgba(235,236,237,1) 0%,rgba(235,236,237,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: -ms-radial-gradient(center top, ellipse cover,  rgba(235,236,237,1) 0%,rgba(235,236,237,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: radial-gradient(ellipse at center top,  rgba(235,236,237,1) 0%,rgba(235,236,237,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); }

.btn-rfcx-mini { padding:3px 6px; font-size:11px; line-height:11px; position:relative; }

.rfcx-row-intro-what { padding-top:80px; }
.rfcx-row-intro-what .rfcx-intro-what-title { position:absolute; top:-57px; text-align:center; clear:both; width:200%; font-size:44px; text-transform:uppercase; }
.rfcx-row-intro-what .span6 { /*width:48%;*/ overflow:visible; position:relative; }
.rfcx-row-intro-what .infographic-box { position:relative; cursor:pointer; width:450px; height:350px; background-color:#ffffff; margin-top:4px; border:solid 8px #ddd; overflow:visible; color:#ddd; }
.rfcx-row-intro-what .infographic-box img { position:absolute; top:0%; left:0%; width:100%; height:100%; z-index:1; }
.rfcx-row-intro-what .infographic-box .infographic-thmb-bg { z-index:0; }
.rfcx-row-intro-what .infographic-box:hover { border-color:#aaa; }
.rfcx-row-intro-what .intro-what-text-container p { margin-left:6%; margin-top:0px; width:94%; }
.rfcx-row-intro-what .intro-what-text-container .rfcx-header { font-size:32px; line-height:32px; }
.rfcx-row-intro-what .intro-what-text-container .rfcx-body { padding-top:0px; padding-bottom:0px; }
.rfcx-row-intro-what .intro-what-text-container .rfcx-body .btn { margin-top:10px; }
.rfcx-row-intro-what .intro-what-text-container .rfcx-body .btn .fa-arrow-right { margin-left:8px; }

.rfcx-row-intro-stats { padding-top:0px; margin-top:0px; }
.rfcx-row-intro-stats .rfcx-header { margin:0px 0px 0px 0px; text-align:center; }
.rfcx-row-intro-stats .span4 { margin:15px 0px; border-right:solid 0px #cccccc; width:33%;}
.rfcx-row-intro-stats .span4 .rfcx-header  { font-size:28px; line-height:28px; }
.rfcx-row-intro-stats .icon { background-color:#119911; float:left; width:70px; height:70px; border:solid 1px white; position:relative; left:7px; -moz-border-radius:35px; -webkit-border-radius:35px; border-radius:35px; }
.rfcx-row-intro-stats .title { margin-top:20px; margin-bottom:15px; text-transform:uppercase; }
.rfcx-row-intro-stats .btn { margin-top:8px; clear:both; left:42px; margin-right:auto; margin-left:auto; position:relative; top:-6px; }
.rfcx-row-intro-stats .conclusion { font-size:32px; line-height:32px; text-transform:uppercase; }
.rfcx-row-intro-stats .source { position:relative; top:-4px; clear:both; font-size:20px; line-height:20px; font-style:italic; }
.rfcx-row-intro-stats .rfcx-body { margin:0px 0px 0px 15px; }
.rfcx-row-intro-stats .stat-page-climate { border-left:solid 0px #cccccc; margin-left:1%; }
.rfcx-row-intro-stats .stat-page-extinction { border-left:solid 0px #cccccc; }
.rfcx-row-intro-stats .stat-page-crime { border-left:solid 0px #cccccc; }

.rfcx-row-sctn-join .rfcx-header { margin:10px 0px 0px 15px; width:120%; text-transform:uppercase; }
.rfcx-row-sctn-join .rfcx-body { margin:0px 0px 0px 15px; width:100%; }
.rfcx-row-sctn-join .control-group { margin-top:5px; margin-left:15px; }
.rfcx-row-sctn-join .stopsign { position:relative; margin-left:0px; }
.rfcx-row-sctn-join .stopsign-mobile { position:relative; float:right; display:none; }
.rfcx-row-sctn-join .stopsign-mobile img { position:absolute; left:0%; top:0%; width:100%; border:0; }
.rfcx-row-sctn-join .input-append .input-large { padding:13px 19px 11px 19px; }
.rfcx-row-sctn-join .input-append .btn { padding:11px 19px 13px 19px; }
.rfcx-row-sctn-join .social-follow-containers { width:90%; border:none; position:relative; height:100px; clear:both; margin-bottom:10px; margin-top:5px; }
.rfcx-row-sctn-join .social-follow-container { position:relative; margin:0px 0px 0px 20px; height:32px; border:0; top:10px; width:20%; float:left; clear:left; }
.rfcx-row-sctn-join .social-follow-container .social-follow-item { width:100%; }
.rfcx-row-sctn-join .control-group .rfcx-body { margin-left:0px; position:relative; top:5px; width:200%; }
.rfcx-row-sctn-join .control-group .parsley-error-list { display:none !important; }
.rfcx-row-sctn-join .control-group .controls { margin-top:20px; }
.rfcx-row-sctn-join .rfcx-form .rfcx-body { clear:left; }

.rfcx-row-about-1 { padding-top:30px; margin-top:0px; overflow:visible; }
.rfcx-row-about-1 .rfcx-header, .rfcx-row-about-1 .rfcx-body, .rfcx-row-about-1 .rfcx-header, .rfcx-row-about-1 .screen-container { margin-left:auto; margin-right:auto; }
.rfcx-row-about-1 .rfcx-header { text-transform:uppercase; }
.rfcx-row-about-1 .rfcx-header { width:98%; text-align:center; }
.rfcx-row-about-1 .rfcx-body { width:98%; text-align:center; }

.rfcx-row-about-1 .screen-container { position:relative; left:30px; /*width:800px; height:483px;*/ width:560px; height:338px; border:0; background-color:transparent; float:right; }
.rfcx-row-about-1 .screen-container .screen-img { z-index:1; position:absolute; top:0%; left:0%; width:100%; height:100%; }
.rfcx-row-about-1 .screen-container .screen-bg { z-index:0; position:absolute; top:4.8%; left:4.4%; width:91.3%; height:70%;  }
.rfcx-row-about-1 .screen-container .alert-help { position:absolute; top:100px; width:0px; height:0px; border:0; background-color:transparent; }
.rfcx-row-about-1 .screen-container .hint:after, .rfcx-row-about-1 .screen-container [data-hint]:after { font-size:18px; padding:6px; left:2px; } 
.rfcx-row-about-1 .screen-container .hint--error:after { background-color:red; }
.rfcx-row-about-1 .screen-container .hint--error.hint--top:before { border-top-color:red; }

.rfcx-row-about-1 .screen-container .hint--bounce:before, .rfcx-row-about-1 .screen-container .hint--bounce:after {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 4, 0.77, 1.24);
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 4, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 4, 0.77, 1.24);
}

.rfcx-row-about-1-1 .rfcx-header { margin-bottom:5px;font-size:55px; }
.rfcx-row-about-1-2 .rfcx-header, .rfcx-row-about-1-2 .rfcx-body { text-align:left; width:114%; }
.rfcx-row-about-1-2 { padding-top:20px; }
.rfcx-row-about-1-2 .rfcx-body { padding-top:4px; padding-bottom:0px; }

.rfcx-row-about-2 { margin-top:0px; padding-top:20px; overflow:visible; }
.rfcx-row-about-2 .trash-img { margin-top:30px; position:relative; left:-30px; }
.rfcx-row-about-2 .trash-img-mobile { display:none; }
.rfcx-row-about-2 .span6 { overflow:visible; }
.rfcx-row-about-2 .rfcx-header { margin-top:0px; position:relative; left:-20%; text-transform:uppercase; }
.rfcx-row-about-2 .rfcx-body { padding-top:4px; padding-bottom:0px; position:relative; left:-20%; width:120%; }

.rfcx-row-about-3 { margin-top:0px; overflow:visible; padding-top:40px; }
.rfcx-row-about-3 .map-cropper { position:relative; float:right; width:450px; height:252px; background-color:gray; border:solid 4px #dddddd; margin:0px 35px 30px 0px; }
.rfcx-row-about-3 .map-cropper .map-frame { position:absolute; left:-20.4%; top:-8.7%; width:140%; max-width:140%; overflow:hidden; }
.rfcx-row-about-3 #map-container, .rfcx-row-about-3 .map-cover, .rfcx-row-about-3 .map-cropper-internal { position:absolute; top:0%; left:0%; width:100%; height:115%; z-index:0; }
.rfcx-row-about-3 .map-cropper-internal { height:100%; overflow:hidden; }
.rfcx-row-about-3 .map-cover { background-color:transparent; z-index:1; height:100%; top:0%; }
.rfcx-row-about-3 .rfcx-header { margin-top:10px; text-transform:uppercase; }
.rfcx-row-about-3 .rfcx-body { padding-top:4px; padding-bottom:0px; width:105%; }
.rfcx-row-about-3 .rfcx-body-full { width:300%; }

.rfcx-row-about-4 { }
.rfcx-row-about-4 .frog-img { margin-bottom:40px; }
.rfcx-row-about-4 .frog-img-mobile { display:none; }
.rfcx-row-about-4 .rfcx-header { margin-top:20px; }
.rfcx-row-about-4 .rfcx-body {  }

.rfcx-row-get_involved-1 { padding-top:40px; margin-top:0px;  }
.rfcx-row-get_involved-1 .rfcx-header, .rfcx-row-get_involved-1 .rfcx-body, .rfcx-row-get_involved-1 .rfcx-header { margin-left:auto; margin-right:auto; }
.rfcx-row-get_involved-1 .rfcx-header { width:98%; text-align:center; font-size:55px; text-transform: uppercase; }
.rfcx-row-get_involved-1 .rfcx-body { width:98%; text-align:center; }

.rfcx-row-get_involved-2 { padding:30px 0px 10px 0px;  }
.rfcx-row-get_involved-2 .rfcx-header { text-transform: uppercase; }
.rfcx-row-get_involved-2 .input-append .input-large { width:156px; padding-left:10px; padding-right:7px; padding-top:10px; padding-bottom:10px; font-size:14px; }
.rfcx-row-get_involved-2 .input-append .btn { padding:9px 9px 11px 9px; font-size:18px; }
.rfcx-row-get_involved-2 .stripe-donate .btn { font-size:18px; padding:10px 15px; }
.rfcx-row-get_involved-2 .phone-donate .btn { font-size:18px; padding:10px 15px; }
.rfcx-row-get_involved-2 .control-group .parsley-error-list { display:none !important; }

.form-donate { position:relative; margin-right:auto; margin-left:auto; width:440px; }
.form-donate .input-append .input-large { width:80px; padding-left:0px; padding-right:15px; padding-top:10px; padding-bottom:10px; font-size:18px; font-weight:bold; text-align:right; }
.form-donate .input-prepend .add-on { width:auto; padding: 10px 10px 10px 10px; font-weight:bold; }
.form-donate .input-prepend .add-on .currency { font-size:50%; padding: 0px 0px 0px 0px; }
.form-donate .input-append .btn { padding:9px 20px 11px 20px; font-size:18px; color:white; }
.form-donate .left-label { float:left; width:auto; font-size:18px; color:#000; padding:11px 6px 11px 0px; font-weight:bold; } 

.rfcx-row-media-1 { padding:30px 0px 10px 0px; margin-top:0px; }
.rfcx-row-media-img { padding:15px 0px 10px 0px; margin-top:0px; }
.rfcx-row-media-img .rfcx-header { padding-bottom:0px; margin-bottom:0px; padding-top:0px; margin-top:0px; }
.rfcx-row-media-img .rfcx-body { padding-bottom:0px; margin-bottom:0px; padding-top:0px; margin-top:0px; }

.footer-forest { height:425px; }
.footer-forest .footer-bg { position:absolute; z-index:0; width:155.6%; height:100%; left:-27.8%; max-width:155.6%; border-bottom:solid 1px #444444; }

.control-group .input-append input { font-size:22px; padding:12px 19px 12px 19px; font-size:18px; }
.control-group .input-append span { font-size:22px; padding:10px 19px 14px 19px; font-size:18px; width:70px; }

.footer { background-color:#898989; color:#ffffff; font-size:12px; height:50px; width:100%; }
.footer .footer-bg { background-color:#898989; position:absolute; width:155.6%; height:100%; left:-27.8%; max-width:155.6%; height:50px; z-index:0; }
.footer .container-narrow { z-index:1; }
.footer ul { margin-top:15px; }
.footer li { margin-right:8px; }
.footer .nav-pills>li>a, .footer .nav-pills>li>a:hover { padding-top:0px; padding-bottom:0px; margin-top:0px; margin-bottom:0px; line-height:20px;  color:#ffffff; padding-left:0px; padding-right:0px; }
.footer .nav-pills>li>a:hover { background-color:#898989; text-decoration:none; color:black; }
.footer .footer-social { font-size:24px; margin:0px 4px; position:relative; vertical-align:top; text-decoration:none; color:#ffffff; }
.footer a.pull-right { margin-top:14px; font-size:14px; }
.footer a:hover .footer-social { color:#000000; }
.footer span.copyright {  }


/* to avoid stretching the scrollable screen on the left */
.footer .hint--rounded:after { left:-103px; }

.btn-gray.active { color:rgba(255, 255, 255, 0.75); }
.btn-gray { font-weight:bold; color:#ffffff; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); background-color:#7e7e7e; background-image: -moz-linear-gradient(top, #888888, #6f6f6f); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#6f6f6f)); background-image: -webkit-linear-gradient(top, #888888, #6f6f6f); background-image: -o-linear-gradient(top, #888888, #6f6f6f); background-image: linear-gradient(to bottom, #888888, #6f6f6f); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff888888', endColorstr='#ff6f6f6f', GradientType=0); border-color: #6f6f6f #6f6f6f #484848; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); *background-color: #6f6f6f; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray.active, .btn-gray.disabled, .btn-gray[disabled] { color:#ffffff; background-color:#6f6f6f; *background-color:#626262; }
.btn-gray:active, .btn-gray.active { background-color:#555555; }

.btn-primary { font-weight:bold; }

.rfcx-banner-alert-container { position:absolute; top:0%; left:-27.8%; width:155.6%; max-width:155.6%; height:0px; overflow:hidden; }
.rfcx-banner-alert-inner { position:absolute; height:auto; top:0%; border-left:0; border-right:0; padding-left:0; padding-right:0; font-weight:bold; }
.rfcx-banner-alert-btn { position:relative; font-size:24px; left:0%; padding-top:16px; padding-bottom:18px; z-index:0; }
.rfcx-banner-alert-close { font-size:40px; right:50px; z-index:1; top:8px; cursor:pointer; background:none; }
.rfcx-banner-alert-close:hover { background:none; color:#ccc; }
.rfcx-banner-alert-btn:hover {  }

.at-vertical-menu.at-vertical-menu-right { top:150px; }
.at-vertical-menu.at-vertical-menu-right a { min-width:132px; width:132px; }
.at-vertical-menu.at-vertical-menu-right a:hover { background:rgba(144,144,144,0.8); right:75px; }
.at-vertical-menu label, .at-vertical-menu .at-share-label { font-family:'roadgeek',Sans-Serif; font-size:18px; }
.at-vertical-menu .aticon { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }

.vjs-default-skin .vjs-volume-level, .vjs-default-skin .vjs-play-progress { background: #338833 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat !important; }
.video-js .vjs-text-track { font-size:1.8em !important; }

.read-more { padding:0px 4px 0px 10px; position:relative; top:1px; }

#contact-label { text-align:center; width:50%; margin-left:25%; }
.rfcx-contact-sctn { position:relative; width:32.67%; border:solid 1px #ddd; border-top:0; /*border-right:0;*/ float:left; color:#222; cursor:pointer; text-align:center; }
.rfcx-contact-sctn:hover { color:#fff; background-color:#444; border:solid 1px #444; border-top:0; }
.rfcx-contact-sctn .lbl { font-size:24px; text-align:center; margin:10px 0px; }
.rfcx-contact-sctn .lbl .fa { font-size:32px; margin:5px 10px 5px 0px; position:relative; top:3px; }
.rfcx-contact-sctn .bdy { font-size:14px; line-height:16px; width:100%; border:0; float:left; clear:left; text-align:center; margin-bottom:10px; font-weight:bold; }
.rfcx-contact-sctn-long { width:98.4%; }
.rfcx-contact-sctn-long:hover {  }
.rfcx-contact-sctn-social { width:13.7%; }
.rfcx-contact-sctn-social .lbl { font-size:12px; }
.rfcx-contact-sctn-social .lbl .fa { margin:5px 0px 5px 0px; clear:both; color:#222; }
.rfcx-contact-sctn-social:hover .lbl .fa { color:#fff; }

.banner-video .slogan-left { margin-top:5px; margin-left:25%; left:5%; font-size:18px; text-align:right; }

.masthead .is-on { position:absolute; width:4%; top:31%; margin-top:2px; left:44%; z-index:1; }

.back-us { position:relative; left:-20px }

.logo-footer-shuttleworth { position:relative; top:-12px; margin-left:0px; }

