

.rfcx-container-ks .share-msg { font-size:18px; }

.action-title { font-size:70%;position:relative;top:-4px; margin-left:10px; }

.rfcx-container-ks .footer {  }


.btn-custom-facebook, .btn-custom-twitter, .btn-custom-kickstarter { padding:12px 12px 12px 24px; margin:10px 0px 10px 10px; }

.btn-custom-facebook i.fa { color:#eee; margin-right:10px; }
.btn-custom-twitter i.fa { color:#fff; margin-right:10px; }
.btn-custom-kickstarter i.fa { color:#333; margin-right:10px; }


.footer {visibility:hidden;}

.btn-custom-facebook {
  background-color: hsl(214, 37%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));
  background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
  background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
  background-image: linear-gradient(#7a99c1, #2c4361);
  border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}


.btn-custom-twitter {
  background-color: hsl(195, 79%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56c5eb", endColorstr="#1798c4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#56c5eb), to(#1798c4));
  background-image: -moz-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -ms-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56c5eb), color-stop(100%, #1798c4));
  background-image: -webkit-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -o-linear-gradient(top, #56c5eb, #1798c4);
  background-image: linear-gradient(#56c5eb, #1798c4);
  border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}


.btn-custom-kickstarter {
  background-color: hsl(86, 79%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daf6b5", endColorstr="#7cc817");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#daf6b5), to(#7cc817));
  background-image: -moz-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -ms-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #daf6b5), color-stop(100%, #7cc817));
  background-image: -webkit-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -o-linear-gradient(top, #daf6b5, #7cc817);
  background-image: linear-gradient(#daf6b5, #7cc817);
  border-color: #7cc817 #7cc817 hsl(86, 79%, 34%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.66);
  -webkit-font-smoothing: antialiased;
}


.video-box { position:absolute; z-index:1; margin-top:100px; width:448px; margin-left:0%; border:solid 4px #ffffff; vertical-align:middle; color:#ffffff; cursor:pointer; }
.video-box .video-box-poster { position:absolute; z-index:0; width:100%; height:252px; border:none; }
.video-box .video-box-bg { position:relative; z-index:1; width:100%; background-color:#00bb00; border:none; }
.video-box-page:hover .video-box-bg { filter:alpha(opacity=40); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; -moz-opacity:0.40; -khtml-opacity:0.40; opacity:0.40; }
.video-box-outer, .video-box-followup { z-index:1000; display:none; margin-left:0px; margin-top:0px; border:solid 4px #ffffff; }
.video-box-outer-backdrop, .video-box-outer-backdrop-extra { z-index:999; background-color:black; display:none; position:absolute; top:0%; left:0%; width:100%; height:0%; filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0; -khtml-opacity:0; opacity:0; }

.campaign-video { margin-bottom:0px; }

.banner-video .slogan-left { position:absolute; top:335px; width:100%; left:0px; margin-left:0px; right:auto; text-align:center; }
.banner-video .slogan-left .roadgeek { font-size:34px !important; line-height:28px!important; }
.video-box-page { margin-top:70px;margin-left:210px;height:252px }

.banner-video .slogan-top { position:absolute; top:0px; width:100%; left:0px; margin-left:0px; right:auto; text-align:center; }
