
body { min-width:440px; max-width:440px; overflow-x:hidden; padding:0px 0px 0px 0px; }

.container-narrow, .footer { margin-left:0px; margin-right:0px; width:100%; }

.masthead .masthead-bg { width:127.8%; max-width:127.8%; }
.masthead .logo { position:absolute; width:67%; left:6%; top:21.1%; }
.masthead .menu-toggle { display:block; position:absolute; top:24%; right:5%; font-size:40px; color:white; text-decoration:none; }
.masthead .menu-toggle .icon-chevron-up { display:none; }
.masthead .menu-toggle .icon-reorder { display:block; }

.masthead ul { position:absolute; top:100%; left:0%; margin-top:0%; width:100%; height:0px; background-color:#111111; overflow:hidden; }

.banner-video { width:100%; height:250px; margin-top:0px; }
.banner-video .video-box { width:160px; height:90px; margin-left:3%; border-width:1px; }
.banner-video .video-box .icon-play-circle { font-size:60px; margin-left:52px; top:12px; }
.banner-video .slogan { margin-top:50px; }
.banner-video .slogan p.roadgeek { font-size:40px;}

.banner-video .banner-bg { width:127.8%; max-width:127.8%; }


.footer ul li.ft { display:none; }
.footer ul li.cp { width:100%; font-size:60%; }
.footer ul { position:absolute; width:100%; top:18px; }

.footer { margin-bottom:40px; height:56px; text-align:center; }
.footer a.pull-right { position:relative; float:none; top:10px; }
.footer ul {  }

.span6 { clear:both; }


.rfcx-row-about-1 .screen-container { width:400px; height:241px; }

.rfcx-row-about-3 .map-cropper { width:225px; height:126px; }
