body { padding-top: 0px; padding-bottom: 40px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight:300; -webkit-font-smoothing:antialiased; }

.roadgeek { font-family:'roadgeek_2005_engschrift',Sans-Serif; font-size:42px; margin-bottom:15px; }

.rfcx-unselectable { user-select:none; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; }
.rfcx-selectable { user-select:text; -webkit-touch-callout:text; -webkit-user-select:text; -khtml-user-select:text; -moz-user-select:text; -ms-user-select:text; -o-user-select:text; }
.rfcx-trans-linear { -webkit-transition:all .2s linear; -moz-transition:all .2s linear; transition:all .2s linear; }
.rfcx-trans-50 { filter:alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5; }
.rfcx-crnr-5 { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }

.icon-facebook-sign { color:#3b5998; }
.icon-twitter-sign { color:#4099ff; }

.container-narrow { margin:0 auto; max-width:900px; position:relative; }
.masthead .logo { width:280px; height:51px; z-index:1; }
.masthead { position:relative; margin-bottom:0px; margin-top:0px; height:76px; }
.masthead .masthead-bg { position:absolute; width:155.6%; height:100%; left:-27.8%; top:0px; z-index:0; }
.masthead ul { position:absolute; margin-right:20px; margin-top:5px; z-index:1; }
.masthead li a { color:#c8c8c8; font-size:16px; font-weight:600; }
.masthead li a:hover { color:#b0b0b0; background-color:#eeeeee; }
.masthead li.active a, .masthead li.active a:hover { color:#5c5c5c; background-color:white; }
.masthead .masthead-social { font-size:2.5em; margin-top:5px; vertical-align:top; text-decoration:none; }
.masthead a:hover .masthead-social { color:#888888; }

.banner-video { height:365px; }
.banner-video .slogan { position:absolute; margin-top:140px; margin-left:10px; color:#ffffff; z-index:1; }
.banner-video .slogan p.roadgeek { font-size:48px; margin-bottom:20px; }
.banner-video .banner-bg { position:absolute; z-index:0; width:155.6%; height:100%; left:-27.8%; max-width:155.6%; }
.banner-video .video-link { font-size:16px; cursor:pointer; padding-top:5px; font-weight:600; margin-left:0px; }
.banner-video .video-link .icon-arrow-right { margin-left:10px; }
.banner-video .video-link:hover { color:orange; margin-left:4px; }
.banner-video .video-box { /*display:none;*/ position:absolute; z-index:1; margin-top:45px; margin-left:433px; height:252px; width:448px; border:solid 4px #ffffff; vertical-align:middle; color:#ffffff; cursor:pointer; }
.banner-video .video-box:hover { color:orange; border-color:orange; }
.banner-video .video-box .icon-play-circle { position:relative; font-size:144px; margin-left:152px; top:54px; }
.banner-video .video-box .video-box-bg { position:absolute; z-index:0; width:100%; height:100%; background-color:#00ff00; border:none; }

.rfcx-row { padding-top:20px; margin-top:10px; position:relative; overflow:hidden; } 
.rfcx-row .rfcx-header { color:#494848; }
.rfcx-row .rfcx-body { color:#939393; font-weight:600; }
.rfcx-row-gradient { border-top:solid 1px rgba(234,235,236,1); background: -moz-radial-gradient(center top, ellipse cover,  rgba(234,235,236,1) 0%, rgba(234,235,236,1) 25%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%); background: -webkit-gradient(radial, center top, 0px, center center, 100%, color-stop(0%,rgba(234,235,236,1)), color-stop(25%,rgba(234,235,236,1)), color-stop(72%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); background: -webkit-radial-gradient(center top, ellipse cover,  rgba(234,235,236,1) 0%,rgba(234,235,236,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: -o-radial-gradient(center top, ellipse cover,  rgba(234,235,236,1) 0%,rgba(234,235,236,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: -ms-radial-gradient(center top, ellipse cover,  rgba(234,235,236,1) 0%,rgba(234,235,236,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); background: radial-gradient(ellipse at center top,  rgba(234,235,236,1) 0%,rgba(234,235,236,1) 25%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%); }

.rfcx-row-home-1 {  }
.rfcx-row-home-1 .infographic-box { position:relative; cursor:pointer; width:450px; background-color:#d7d7d7; margin-top:4px; border:solid 8px white; overflow:visible; }
.rfcx-row-home-1 .infographic-box:hover { border-color:#c7c7c7; background-color:#c7c7c7; }
.rfcx-row-home-1 .infographic-box .expand-button { position:absolute; vertical-align:top; text-decoration:none; }
.rfcx-row-home-1 .infographic-box .expand-button-front { z-index:2; right:-15px; top:-21px; font-size:72px; color:white; }
.rfcx-row-home-1 .infographic-box .expand-button-rear { z-index:1; right:-25px; top:-32px; font-size:96px; color:#d7d7d7; }
.rfcx-row-home-1 .infographic-box:hover .expand-button-front { color:#4e8337; right:-20px; top:-26px; font-size:82px; }
.rfcx-row-home-1 .infographic-box:hover .expand-button-rear { color:#c7c7c7; right:-31px; top:-38px; font-size:106px; }
.rfcx-row-home-1 .infographic-box .infographic-thmb { width:100%; }

.rfcx-row-home-2 .rfcx-header {  }
.rfcx-row-home-2 .rfcx-body {  }
.rfcx-row-home-2 .slider-container { position:relative; border:solid 6px #dddddd; width:98%; height:295px; margin-right:auto; margin-left:auto; overflow:visible; margin-bottom:10px; }
.rfcx-row-home-2 .slider-container div { position:absolute; top:0%; left:0%; height:100%; overflow:hidden; border:solid 0px black; }
.rfcx-row-home-2 .slider-container .slider-left { width:72%; z-index:1; background-color:gray; }
.rfcx-row-home-2 .slider-container .slider-middle { left:72%; width:6px; height:105%; background-color:black; z-index:1; }
.rfcx-row-home-2 .slider-container .slider-right { width:100%; z-index:0; background-color:green; }
.rfcx-row-home-2 .slider-container .slider-percent { left:0%; top:0%; vertical-align:bottom; height:auto; line-height:295px; width:auto; font-size:110px; z-index:2; color:#ffffff; width:100%; text-align:center; }

.rfcx-row-home-3 .rfcx-header { margin-top:55px; margin-left:0px; }
.rfcx-row-home-3 .rfcx-body { margin-top:25px; margin-left:15px; }
.rfcx-row-home-3 .control-group { margin-top:25px; margin-left:15px; }
.rfcx-row-home-3 .stopsign { position:relative; margin-left:30px; }
.rfcx-row-home-3 .addthis_toolbox { margin-left:18px; }

.rfcx-row-about-1 { padding-top:30px; }
.rfcx-row-about-1 .rfcx-header, .rfcx-row-about-1 .rfcx-body, .rfcx-row-about-1 .rfcx-header, .rfcx-row-about-1 .screen-container { margin-left:auto; margin-right:auto; }
.rfcx-row-about-1 .rfcx-header { width:98%; text-align:center; font-size:55px; }
.rfcx-row-about-1 .rfcx-body { width:98%; text-align:center; }
.rfcx-row-about-1 .screen-container { position:relative; width:800px; height:483px; border:0; background-color:transparent; }
.rfcx-row-about-1 .screen-container .screen-img { position:absolute; z-index:0; top:0px; left:0px; width:100%; height:100%; }

.rfcx-row-about-1 .screen-container .alert-help { position:absolute; top:100px; width:0px; height:0px; border:0; background-color:transparent; }
.rfcx-row-about-1 .screen-container .hint:after, .rfcx-row-about-1 .screen-container [data-hint]:after { font-size:24px; }
.rfcx-row-about-1 .screen-container .hint--error:after { background-color:red; }
.rfcx-row-about-1 .screen-container .hint--error.hint--top:before { border-top-color:red; }

.rfcx-row-about-2 { margin-top:0px; }
.rfcx-row-about-2 .trash-img { margin-top:20px; }
.rfcx-row-about-2 .rfcx-header { margin-top:20px; }
.rfcx-row-about-2 .rfcx-body {  }

.rfcx-row-about-3 { margin-top:0px; overflow:visible; }
.rfcx-row-about-3 .map-cropper { position:relative; float:right; width:446px; height:251px; background-color:gray; border:solid 4px #dddddd; margin:10px 35px 20px 0px; }
.rfcx-row-about-3 .map-cropper .map-frame { position:absolute; left:-87px; top:-25px; width:630px; max-width:630px; }
.rfcx-row-about-3 #map-container, .rfcx-row-about-3 .map-cover, .rfcx-row-about-3 .map-cropper-internal { position:absolute; top:0%; left:0%; width:100%; height:115%; z-index:0; }
.rfcx-row-about-3 .map-cropper-internal { height:100%; overflow:hidden; }
.rfcx-row-about-3 .map-cover { background-color:transparent; z-index:1; height:100%; }
.rfcx-row-about-3 .map-cover-1 { left:8.5%; }
.rfcx-row-about-3 .map-cover-2 { top:24.5%; }
.rfcx-row-about-3 .map-cover-3 { left:-97.5%; }
.rfcx-row-about-3 .rfcx-header { margin-top:20px; }
.rfcx-row-about-3 .rfcx-body {  }

.rfcx-row-about-4 {  }
.rfcx-row-about-4 .frog-img { margin-bottom:40px; }
.rfcx-row-about-4 .rfcx-header { margin-top:20px; }
.rfcx-row-about-4 .rfcx-body {  }

.rfcx-row-get_involved-1 { padding-top:30px; }
.rfcx-row-get_involved-1 .rfcx-header, .rfcx-row-get_involved-1 .rfcx-body, .rfcx-row-get_involved-1 .rfcx-header { margin-left:auto; margin-right:auto; }
.rfcx-row-get_involved-1 .rfcx-header { width:98%; text-align:center; font-size:55px; }
.rfcx-row-get_involved-1 .rfcx-body { width:98%; text-align:center; }

.control-group .input-append input { font-size:22px; padding:12px 19px 12px 19px; font-size:18px; }
.control-group .input-append span { font-size:22px; padding:10px 19px 14px 19px; font-size:18px; width:70px; }

.footer { background-color:#898989; color:#ffffff; font-size:14px; height:50px; }
.footer ul { margin-top:15px; }
.footer li { margin-right:8px; }
.footer .nav-pills>li>a, .footer .nav-pills>li>a:hover { padding-top:0px; padding-bottom:0px; margin-top:0px; margin-bottom:0px; line-height:20px;  color:#ffffff; padding-left:0px; padding-right:0px; }
.footer .nav-pills>li>a:hover { background-color:#898989; text-decoration:none; color:black; }
.footer .footer-social { font-size:2em; margin:0px 4px; position:relative; vertical-align:top; text-decoration:none; color:#ffffff; }
.footer a.pull-right { margin-top:11px; }
.footer a:hover .footer-social { color:#000000; }
