
.rfcx-press-clipping-container { margin:4px; width:140px; height:90px; background-color:#bbbbff; border:solid 1px #888888; }

.rfcx-press-clipping-container .rfcx-press-clipping-clickable { position:relative; width:100%; height:60px; background-color:#cccccc; font-weight:bold; text-decoration:none; color:black; text-align:center; }
.rfcx-press-clipping-container .fb-like { margin-left:32px; margin-top:5px; clear:left; }