exports.env = {

  NODE_ENV: "development",

  NEW_RELIC_KEY: "",

  RECAPTCHA_SITE_KEY: "",
  RECAPTCHA_SECRET_KEY: "",

  MAILCHIMP_APP_KEY: "",
  MAILCHIMP_DONOR_LIST_ID: "",

  SEGMENT_WRITE_KEY: "",

  ADDTHIS_PUBID: ""

}