exports.env = {

  NODE_ENV: "development",

  NEW_RELIC_KEY: "",

  SEGMENT_IO_SECRET: "",
  SEGMENT_IO_CLIENT_ID: "",

  ADDTHIS_PUBID = ""

  RDS_HOSTNAME: "",
  RDS_DB_NAME: "",
  RDS_USERNAME: "",
  RDS_PASSWORD: "",
  RDS_PORT: 3306

}