form.rfcx-form(target="_blank", action="https://rfcx.us9.list-manage.com/subscribe/post?u=979004c94b83bcd925931d541&amp;id=58fbf16b44", method="post", data-parsley-validate)
  div.control-group.email-sign-up
    div.controls
      div.input-append
        input.input-large.email#mce-EMAIL(type='email', name="EMAIL", placeholder='Your email', data-parsley-trigger="change", required)
        button.btn.btn-success.btn-large(type="submit") Sign Up