div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-1.rfcx-row-about-1-1
  div.span12
    p.rfcx-row-about-1-1__title.roadgeek.rfcx-header= "Help silence the chainsaws."
    p.rfcx-body
      span.help1= "We need you. The forests need you. "
      span.help2= "The world needs you."