#notificationsContainer.notifications-container

script#alertTmpl(type="text/x-jsrender")
  .alert.alert-block.alert-error(id="{{: _id}}")
    button.close(type="button", data-dismiss="alert") &times;
    h4 Error
    | {{:message}}

script#successTmpl(type="text/x-jsrender")
  .alert.alert-block.alert-success(id="{{: _id}}")
    button.close(type="button", data-dismiss="alert") &times;
    h4 Success
    | {{:message}}

script#infoTmpl(type="text/x-jsrender")
  .alert.alert-block.alert-info(id="{{: _id}}")
    button.close(type="button", data-dismiss="alert") &times;
    h4 Info
    | {{:message}}