.rfcx-row-about-1 {
    padding-top: 30px;
    margin-top: 0;
    overflow: visible;
    .rfcx-header,
    .rfcx-body,
    .rfcx-header,
    .screen-container {
        margin-left: auto;
        margin-right: auto;
    }

    .rfcx-header {
        text-transform: uppercase;
    }

    .rfcx-header,
    .rfcx-body {
        width: 98%;
        text-align: center;
    }

    .screen-container {
        position: relative;
        left: 30px;
        width: 560px;
        height: 338px;
        border: 0;
        background-color: transparent;
        float: right;
        .screen-img {
            z-index: 1;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }
        .screen-bg {
            z-index: 0;
            position: absolute;
            top: 4.8%;
            left: 4.4%;
            width: 91.3%;
            height: 70%;
        }
        .alert-help {
            position: absolute;
            top: 100px;
            width: 0px;
            height: 0px;
            border: 0;
            background-color: transparent;
        }
        .hint:after,
        [data-hint]:after {
            font-size: 18px;
            padding: 6px;
            left: 2px;
        }
        .hint--error:after {
            background-color: red;
        }
        .hint--error.hint--top:before {
            border-top-color: red;
        }
        .hint--bounce:before,
        .hint--bounce:after {
            -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 4, 0.77, 1.24);
            -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 4, 0.77, 1.24);
            transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 4, 0.77, 1.24);
        }
    }
}

.rfcx-row-about-1-1 .rfcx-header {
    margin-bottom: 5px;
    font-size: 55px;
}

.rfcx-row-about-1-2 .rfcx-header, .rfcx-row-about-1-2 .rfcx-body {
    text-align: left;
    width: 114%;
}

.rfcx-row-about-1-2 {
    padding-top: 20px;
}

.rfcx-row-about-1-2 .rfcx-body {
    padding-top: 4px;
    padding-bottom: 0px;
}