.video-box {
    height: 0;
    // youtube video proportions
    padding-bottom: 56.25%;
    position: relative;
    border: solid 4px #ffffff;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    .box-sizing(border-box);
    .video-box-poster {
        position: absolute;
        z-index: 0;
        min-width: 100%;
        min-height: 100%;
        border: none;
    }
    .video-box-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #00bb00;
        border: none;
    }
    .fa-play-circle-o,
    .infographic-box .fa-play-circle-o {
        position: absolute;
        font-size: 144px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 144px;
        text-align: center;
        padding: 0;
        z-index: 2;
    }
}

.banner-video {
    height: 380px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
    &__i {
        position: relative;
        z-index: 1;
        max-width: 900px;
        margin: 0 auto;
        height: 100%;
    }
    &__video-wrapper{
        position: absolute;
        top: 11.8%;
        right: 1.2%;
        z-index: 1;
        width: 50%;
        max-width: 448px;
    }
    p {
        text-shadow: 0px 0px 2px #004400;
        filter: dropshadow(color=#004400, offx=0, offy=0);
    }
    .slogan {
        position: absolute;
        margin-top: 40px;
        margin-left: 10px;
        color: #ffffff;
        z-index: 1;
        line-height: 48px;
        text-transform: uppercase;
        p.roadgeek {
            font-size: 48px;
            margin-bottom: 0px;
            cursor: default;
        }
    }
    .banner-bg {
        position: absolute;
        z-index: 0;
        width: 155.6%;
        height: 100%;
        left: -27.8%;
        max-width: 155.6%;
    }

    .video-link {
        font-size: 16px;
        padding-top: 0px;
        font-weight: 600;
        margin-left: 0px;
        cursor: default;
        text-transform: none;
        .fa-play {
            position: relative;
            margin-left: 8px;
            font-size: 10px;
            top: -1px;
        }
    }
    .intro-social {
        position: absolute;
        margin-top: 232px;
        font-size: 48px;
        margin-left: 10px;
        color: #ffffff;
        z-index: 1;
        line-height: 48px;
        text-transform: uppercase;
        .fa {
            color: #eeeeee;
            &:hover {
                color: #888888;
            }
        }
    }
    .intro-social-facebook {
        margin-left: 16px;
    }
    .intro-social-tumblr {
        margin-left: 260px;
        display: none;
    }
    .intro-social-twitter {
        margin-left: 78px;
    }
    .control-group {
        position: absolute;
        margin-top: 232px;
        margin-left: 144px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px 8px 0px 8px;
    }
    .slogan-left {
        margin-top: 5px;
        margin-left: 25%;
        left: 5%;
        font-size: 18px;
        text-align: right;
    }
}

@media @mobile{
    .video-box {
        border-width: 1px;
        .video-box-poster {
            display: none;
        }
        .video-box-bg {
            position: relative;
            z-index: 1;
            width: 100%;
            background-color: #00bb00;
            border: none;
        }
        video {
            z-index: 1001;
        }
        .fa-play-circle-o {
            font-size: 70px;
            height: 70px;
        }
    }

    .banner-video {
        height: auto;
        margin-top: 0;
        top: 0;
        margin-bottom: 0;
        border-bottom: solid 40px #888888;
        &__i{
            padding-top: 10px;
        }
        &__video-wrapper{
            position: static;
            margin: 15px auto;
            width: 80%;
            max-width: 390px;
        }
        .banner-bg {
            left: -63%;
            width: 163%;
            max-width: 163%;
        }
        .slogan-left {
            display: none;
        }
        .video-link {
            margin: 10px auto 0;
            font-size: 12px;
            .fa-play {
                font-size: 8px;
            }
        }
        .slogan {
            position: static;
            line-height: inherit;
            margin-top: 10px;
            margin-left: 0;
            width: 100%;
            text-align: center;
            p.roadgeek {
                font-size: 32px;
                line-height: 28px;
            }
        }
        .intro-social {
            bottom: -43px;
            top: auto;
            font-size: 40px;
            .fa{
                &:hover{
                    color: #eee;
                }
            }
        }
        .intro-social-facebook {
            margin: 0;
            left: 10%;
        }
        .intro-social-tumblr {
            display: none;
        }
        .intro-social-twitter {
            left: 30%;
            margin: 0;
        }
        .control-group {
            margin: 0;
            bottom: -33px;
            right: 10%;
            background: none;
            padding: 0;
            form {
                margin-bottom: 0;
            }
        }
    }
}