// Common element styles

body {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding: 0 0 40px;
}

.ul {
    text-decoration: underline;
}

._hidden {
    display: none;
}

.mobile-only {
    display: none;
}

.only-desktop {
    display: block;
}

.mobile-exclude {
    display: block;
}

#phoneDeviceContainer,
#tabletDeviceContainer {
    display: block;
}

.content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    &__i {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
}

.rfcx-container {
    position: relative;
    z-index: 1;
    .transition(transform .5s);
    &.opened {
        .translate3d(-84.9%, 0, 0);
    }
}

.rfcx-row-gradient {
    border-top: solid 1px rgba(235, 236, 237, 1);
    background: -moz-radial-gradient(center top, ellipse cover, rgba(235, 236, 237, 1) 0%, rgba(235, 236, 237, 1) 25%, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(radial, center top, 0px, center center, 100%, color-stop(0%, rgba(235, 236, 237, 1)), color-stop(25%, rgba(235, 236, 237, 1)), color-stop(72%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-radial-gradient(center top, ellipse cover, rgba(235, 236, 237, 1) 0%, rgba(235, 236, 237, 1) 25%, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 1) 100%);
    background: -o-radial-gradient(center top, ellipse cover, rgba(235, 236, 237, 1) 0%, rgba(235, 236, 237, 1) 25%, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 1) 100%);
    background: -ms-radial-gradient(center top, ellipse cover, rgba(235, 236, 237, 1) 0%, rgba(235, 236, 237, 1) 25%, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 1) 100%);
    background: radial-gradient(ellipse at center top, rgba(235, 236, 237, 1) 0%, rgba(235, 236, 237, 1) 25%, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 1) 100%);
}

@media @desktopAndTablet{
    .rfcx-container {
        -webkit-transform: translate3d(0, 0, 0) !important;
        -moz-transform: translate3d(0, 0, 0) !important;
        -ms-transform: translate3d(0, 0, 0) !important;
        -o-transform: translate3d(0, 0, 0) !important;
    }
}

@media @tablet{
    body {
        padding-bottom: 45px;
    }

    #tabletDeviceContainer {
        display: none;
    }
}

@media @tabletAndPhone {
    .only-desktop {
        display: none;
    }
}

@media @mobile {
    body {
        padding-bottom: 45px;
    }

    #phoneDeviceContainer {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .mobile-exclude {
        display: none;
    }
}