// Common element styles

body {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding: 0 0 40px;
}

.ul {
    text-decoration: underline;
}

._hidden {
    display: none;
}

.mobile-only {
    display: none;
}

.mobile-exclude {
    display: block;
}

#phoneDeviceContainer,
#tabletDeviceContainer {
    display: block;
}

.content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    &__i {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
}

.rfcx-container{
    position: relative;
    z-index: 1;
    .transition(all .5s);
    &.opened{
        .translate3d(-84.9%,0,0);
    }
}

@media @desktopAndTablet{
    .rfcx-container{
        -webkit-transform:   translate3d(0,0,0) !important;
        -moz-transform: 	 translate3d(0,0,0) !important;
        -ms-transform: 		 translate3d(0,0,0) !important;
        -o-transform: 		 translate3d(0,0,0) !important;
    }
}

@media @tablet{
    body {
        padding-bottom: 45px;
    }
    #tabletDeviceContainer {
        display: none;
    }
}

@media @mobile {
    body {
        padding-bottom: 45px;
    }
    #phoneDeviceContainer {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .mobile-exclude {
        display: none;
    }
}