.modal {
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
    margin-top: 0;
    margin-left: 0;
    margin-right: -50%;
    z-index: 1000003;
    a {
        color: #494848;
        &:hover {
            color: #49cc48;
            text-decoration: none;
        }
    }
    .close {
        font-size: 32px;
        line-height: 32px;
        position: relative;
        top: -4px;
        left: 2px;
    }
    &.fade.in {
        top: 50%;
        max-height: 70vh;
        overflow: auto;
    }
}

.modal-backdrop {
    z-index: 1000002;
}

.modal-body {
    max-height: none;
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.read-more {
    padding: 0 4px 0 10px;
    position: relative;
    top: 1px;
}

@media @mobile {
    .modal {
        z-index: 1000010;
        top: 45%;
        &.fade.in {
            top: 45%;
        }
    }
}